{
  "openapi": "3.0.1",
  "info": {
    "title": "CIA Internal API",
    "description": "Internal REST API for the Core Insurance Application (staff and system use)",
    "contact": {
      "name": "Nubeero Engineering",
      "email": "engineering@nubeero.com"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "2026.05.23"
  },
  "servers": [
    {
      "url": "https://api.cia.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8090",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Setup — Commission Setups",
      "description": "Per-product commission rules. Multiple rules per product (e.g. broker tier × class). Drives commission credit-note generation at policy approval."
    },
    {
      "name": "Partner App Management",
      "description": "Internal: manage Insurtech partner app registrations"
    },
    {
      "name": "Audit Alerts",
      "description": "Real-time anomaly alerts — failed logins, bulk deletes, off-hours activity, large approvals"
    },
    {
      "name": "Setup — Quote Config",
      "description": "Per-tenant quote-engine configuration: singleton config (validity period, premium calculation sequence LOADING_FIRST vs DISCOUNT_FIRST) + CRUD on discount-type and loading-type master data. Drives Module 2 quote premium calculation."
    },
    {
      "name": "Setup — Vehicle Models",
      "description": "Vehicle model master data, scoped under a make (e.g. Toyota → Camry / Corolla / RAV4). Nested resource under /vehicle-makes/{makeId}/models."
    },
    {
      "name": "PAA — Period Close Orchestrator",
      "description": "IFRS 17 PAA Slice 2.5 orchestrator. Runs LRC + LIC engines for a period and returns the IFRS 17 §83/§84 Insurance Service Result alongside the engine outputs. Companion read endpoint recomputes §83/§84 from the current paa_lrc + paa_lic state without invoking engines."
    },
    {
      "name": "Claim Comments",
      "description": "Append-only comment feed on a claim. Comments are an aggregate of the parent Claim; deletion is not supported (audit-grade history)."
    },
    {
      "name": "Setup — Agents",
      "description": "NAICOM-licensed insurance agent master data. Agents represent the INSURER and earn commission on policies sold, distinct from Brokers (who represent the INSURED) and from Relationship Managers (internal staff)."
    },
    {
      "name": "PAA — Liability for Incurred Claims (LIC)",
      "description": "IFRS 17 PAA Slice 2.4 — claim roll-forward via SQL conditional-sum query. Posts paa_lic disclosure rows; v1 posts no JE (underlying GL already correct via SubledgerPostingService)."
    },
    {
      "name": "Quotes (Module 2)",
      "description": "Quote lifecycle — DRAFT → PENDING_APPROVAL → APPROVED → CONVERTED (when bound to a policy). Premium calculation supports per-item loadings/discounts + quote-level loadings/discounts; sequence is tenant-configurable (LOADING_FIRST / DISCOUNT_FIRST). Multi-risk and single-risk quotes use the same endpoint surface; the structure of risks differentiates them."
    },
    {
      "name": "Dashboard",
      "description": "Aggregated KPIs for the back-office home screen"
    },
    {
      "name": "Payments (Module 8)",
      "description": "Outbound payments against a credit note (claim DV, FAC outward, commission, etc.). Posting a payment subtracts from CN outstanding_amount; full settlement flips the CN to SETTLED. Reversal undoes the payment and posts a contra JE via SubledgerPostingService."
    },
    {
      "name": "Setup — Claim Document Requirements",
      "description": "Per-product mandatory documents at claim registration. Drives the required-documents checklist on the claim summary (Module 5)."
    },
    {
      "name": "NAICOM Submissions",
      "description": "Monthly recap submissions to NAICOM (N01–N08). Period must be HARD_CLOSED before generation. Submissions follow a DRAFT → SUBMITTED → ACKNOWLEDGED → ARCHIVED state machine with a RETRACTED branch from SUBMITTED. All state transitions append-only via naicom_submission_event (Type-2 SCD)."
    },
    {
      "name": "Setup — Classes of Business",
      "description": "Class of business taxonomy (Motor, Fire, Marine, Aviation, GIT, ...). Drives product setup, IFRS 17 contract grouping (§22), and NAICOM bordereaux classification."
    },
    {
      "name": "PAA — Discount Unwind (§87-92)",
      "description": "IFRS 17 PAA Slice 2.6 — discount unwind on paa_lic rows. P&L vs OCI routing per paa_config.oci_election (§88(b)). Posts Dr 5520 / Cr 2140 (P&L) or Dr 3430 / Cr 2140 (OCI). No-op for tenants where paa_config.discount_lic = FALSE."
    },
    {
      "name": "Customers (Module 7)",
      "description": "Customer onboarding (individual + corporate) with embedded KYC. Customer number format is per-tenant (CUST/2026/IND/00000001 by default); collision-safe via PESSIMISTIC_WRITE lock in CustomerNumberFormatService. Multipart uploads carry ID document + (for corporate) CAC certificate + director IDs. KYC re-triggers automatically on relevant field updates."
    },
    {
      "name": "PAA — §103 Movement Analysis",
      "description": "IFRS 17 §103 disclosure relay (Slice 2.8). Reads from V38 paa_movement_analysis SQL view — LRC totals, LIC totals, per-(portfolio × cohort × onerousness) breakdown. Read-only; consumed by Phase 4 Ifrs17DisclosureEngine."
    },
    {
      "name": "Audit Configuration",
      "description": "Alert thresholds and data retention settings — System Admin only for writes"
    },
    {
      "name": "IFRS 9 — Premium Receivable ECL (§5.5.15)",
      "description": "Slice 3.6 simplified-approach engine. Admin supplies aging-bucket provision matrix [(label, outstandingAmount, defaultRate)]; engine computes lifetime ECL = Σ(outstanding × rate) and posts the delta vs cumulative prior allowance. Posts Dr 5350 PREMIUM_ECL_EXPENSE / Cr 1340 PREMIUM_ECL_ALLOWANCE (increase) or reverse (release). Provision matrix is embedded in JE narrative as §B5.5.36 disclosure substrate."
    },
    {
      "name": "Setup — Survey Thresholds",
      "description": "Per-product survey-mandatory thresholds. Multiple rules per product (e.g. SI band × survey type — pre-loss / loss inspection). Drives the survey workflow gating in Module 3 and Module 5."
    },
    {
      "name": "Setup — SBUs (Strategic Business Units)",
      "description": "Internal SBU master data. Used for portfolio segmentation in reports and per-SBU approval tiers."
    },
    {
      "name": "IFRS 9 — Amortised Cost (§5.4.1)",
      "description": "Slice 3.3 effective interest method. Posts Dr 1250 INVESTMENT_AT_AMORTISED_COST / Cr 4210 INTEREST_INCOME_AC for accruals + additional Dr 1230 / Cr 1250 net-down lines on coupon receipts. Idempotency triple: (IFRS9_AMORTISED_COST, INTEREST_ACCRUAL, holdingId+periodId)."
    },
    {
      "name": "Policies (Module 3)",
      "description": "Policy lifecycle — DRAFT → PENDING_APPROVAL → ACTIVE → CANCELLED / EXPIRED. Policies can be bound from an approved quote or created directly. Approval fires POLICY_APPROVED event → SubledgerPostingService → DebitNote + JE; NAICOM/NIID upload child workflows kick off asynchronously."
    },
    {
      "name": "Credit Notes (Module 8)",
      "description": "Payables-side documents. Generated automatically when a claim DV is approved, a FAC outward is confirmed, or commission/RI commission becomes payable (SubledgerPostingService listens for ClaimApproved / FacPremiumCeded events). State machine: ISSUED → PARTIALLY_PAID → SETTLED → CANCELLED."
    },
    {
      "name": "IFRS 9 — Investment Holdings",
      "description": "Slice 3.2 — register investment holdings under §4.1 classification (SPPI test + business model → FVPL / FVOCI_DEBT / FVOCI_EQUITY / AMORTISED_COST). Reclassification follows §B4.1.26 (rare, audited via Type-2 SCD investment_classification_history)."
    },
    {
      "name": "GL Backfill (Admin)",
      "description": "Retroactive journal-entry backfill (Slice 1.8). One-time mechanism for moving from \"no GL history\" to \"all GL history reconstructed\" — walks every relevant sub-ledger source table and posts the JEs SubledgerPostingService would have written. Idempotent via the JE-gateway triple. See operations/period-end-closures-backfill.md runbook."
    },
    {
      "name": "Setup — Causes of Loss",
      "description": "Per-nature-of-loss cause taxonomy. Hierarchy: Nature → Cause. Drives claim registration dropdowns."
    },
    {
      "name": "Customer Documents",
      "description": "Per-customer document attachments (KYC certificates, board resolutions, additional ID copies). Distinct from the multipart ID document captured at onboarding — those live on the customer/director records directly."
    },
    {
      "name": "Audit Export",
      "description": "Export audit logs as CSV with optional filters"
    },
    {
      "name": "Reinsurance Allocations",
      "description": "Per-policy treaty allocation. Surplus: retain ≤ Retention Limit, cede to surplus up to Surplus Limit, excess tagged if beyond gross capacity. QS: split by fixed share %. XOL: retain first layer, cede above retention. State machine: AUTO_ALLOCATED → CONFIRMED → APPROVED, or CANCELLED. Allocation lines record per-participant ceded amount + commission."
    },
    {
      "name": "PAA — Onerous Contract Test (§47-49)",
      "description": "IFRS 17 PAA Slice 2.7 — cumulative-state target reconciliation. Posts loss-component increase (Dr 5150 / Cr 2130) or reversal JEs as needed. Naturally idempotent — re-runs with no underlying movement produce a no-op result."
    },
    {
      "name": "Trial Balance",
      "description": "Cumulative-since-inception trial balance at a given business date. Used by NAICOM's PrudentialReturnEngine (N03) and BalanceSheetEngine (N02), and by the Slice 1.9 reconciliation gate as the source-of-truth balance sheet aggregator."
    },
    {
      "name": "Audit Reports",
      "description": "Six pre-built compliance reports — user activity, module actions, approvals, data changes, login security, and ranked user summary"
    },
    {
      "name": "Setup — Claim Reserve Categories",
      "description": "Reserve bucket master data (e.g. Indemnity, Legal, Expenses). Drives the per-claim reserves on Module 5."
    },
    {
      "name": "Setup — Approval Groups",
      "description": "Per-entity-type approval hierarchies. Single-level: one approver within amount range. Multi-level: escalates until an approver whose limit covers the transaction. Drives the approval workflows for Quote / Policy / Endorsement / Claim / Finance."
    },
    {
      "name": "Setup — Password Policy",
      "description": "Per-tenant password-policy bookkeeping. Storage-only — actual login-time enforcement is owned by Keycloak's realm policy. The Setup → Password Policy page reads/writes this."
    },
    {
      "name": "Reinsurance Treaties",
      "description": "Treaty setup — Surplus / Quota Share / XOL. State machine: DRAFT → ACTIVE → EXPIRED → CANCELLED. Treaty year = policy start date year (not policy creation year). Each treaty has a participant list (reinsurance companies with their share percentages); lead reinsurer drives offer/acceptance."
    },
    {
      "name": "Claim Expenses",
      "description": "Per-claim expenses (surveyor fees, repair costs, legal fees, etc). State machine: PENDING → APPROVED → (cascade to a CreditNote via CLAIM_EXPENSE_APPROVED event) or CANCELLED. The approval is what triggers GL impact via SubledgerPostingService."
    },
    {
      "name": "IFRS 9 — §B5.5.39 Movement Analysis",
      "description": "Slice 3.7 disclosure relay. Composes investment roll-forward from V40 ifrs9_investment_movement_analysis SQL view + premium-receivable ECL aggregate from JE narrative on account 1340. Read-only; consumed by Phase 4 Ifrs9DisclosureEngine."
    },
    {
      "name": "Setup — Users",
      "description": "System user management (Module 1). Users live in Keycloak; this controller is a thin proxy over the Keycloak admin client. Access group assignment is stored as a Keycloak user attribute (accessGroupId)."
    },
    {
      "name": "PAA — Liability for Remaining Coverage (LRC)",
      "description": "IFRS 17 PAA Slice 2.3 — straight-line daily premium recognition (Dr 2110 / Cr 4110 via JE gateway). Posts paa_lrc rows + JEs."
    },
    {
      "name": "Setup — Vehicle Types",
      "description": "Vehicle category master data (Saloon, SUV, Truck, Tricycle, ...). Drives motor-policy classification and rating tables."
    },
    {
      "name": "Journal Entries",
      "description": "The Slice 1.4 GL gateway. Every JE in the system passes through JournalEntryService — subledger posting, IFRS 17 PAA engines, IFRS 9 measurement engines, NAICOM source data, manual posts. Idempotency triple: (source_module, source_event_type, source_reference)."
    },
    {
      "name": "IFRS 9 — Fair Value (§5.7)",
      "description": "Slice 3.4 fair-value remeasurement with classification-driven routing. FVPL → P&L (Dr 4250 / Cr 5330); FVOCI_DEBT → OCI reserve (Dr/Cr 3410); FVOCI_EQUITY → OCI reserve (Dr/Cr 3420). AC holdings refuse remeasurement. Idempotent via closing_fair_value IS NULL sentinel."
    },
    {
      "name": "Setup — Access Groups",
      "description": "RBAC access group master data. Each group aggregates module-level permissions ({module}:create / view / update / approve). Users inherit permissions through their assigned access group."
    },
    {
      "name": "Endorsements (Module 4)",
      "description": "Mid-term policy changes — Renewal, Extension, Cancellation, Reversal, Reduction in Period, Change in Period, Increase/Decrease SI, Add/Delete Items. Pro-rata premium adjustment: (Annual Premium / 365) × Days. Approval fires ENDORSEMENT_APPROVED event → SubledgerPostingService cascades a DebitNote (additional premium) or CreditNote (return premium) + JE."
    },
    {
      "name": "Claims (Module 5)",
      "description": "Full claims lifecycle — registration → processing (reserves + surveyor + inspection) → submission → approval / rejection / withdrawal → DV generation → DV execution → settlement. CLAIM_APPROVED and CLAIM_SETTLED events drive SubledgerPostingService cascades (CreditNote + JE)."
    },
    {
      "name": "Setup — Policy Specification",
      "description": "Per-product singleton config — controls the policy document template (clause bank, layout, signatures)."
    },
    {
      "name": "Setup — Currencies",
      "description": "Currency master data (ISO 4217). Drives the currency selector across quotes/policies/finance. NGN is the launch currency; multi-currency is an open question (PRD #5)."
    },
    {
      "name": "Setup — Natures of Loss",
      "description": "Top-level loss taxonomy. Parent of cause-of-loss. Drives claim registration dropdowns."
    },
    {
      "name": "Reports & Analytics",
      "description": "55 pre-built reports, custom report builder, CSV/PDF export, pin management, access control"
    },
    {
      "name": "Setup — Policy Number Format",
      "description": "Per-product singleton config — controls how policy numbers are generated (prefix, year placement, sequence length, etc)."
    },
    {
      "name": "Setup — Relationship Managers",
      "description": "Per-branch relationship-manager master data. RMs are assigned to customers / policies for accountability + portfolio reporting."
    },
    {
      "name": "Setup — Company Settings",
      "description": "Per-tenant singleton company profile + password policy + branding. The Setup landing page reads this."
    },
    {
      "name": "Setup — Vehicle Makes",
      "description": "Vehicle manufacturer master data (Toyota, Honda, ...). Parent of vehicle-models. Drives motor-policy risk forms."
    },
    {
      "name": "Period Locks",
      "description": "Period-lock lifecycle: SOFT_CLOSED (with 5-business-day grace window) → HARD_CLOSED → REOPENED. Hibernate PeriodLockInterceptor enforces locks at every write to LockableByPeriod entities — see Slice 1.7. Locked-period writes throw HTTP 423 LOCKED with structured meta."
    },
    {
      "name": "Posting Rules",
      "description": "Read-only access to the sub-ledger → journal-entry posting rules used by SubledgerPostingService. Seeded by V33 (6 rules); SYSTEM rows are immutable until the post-Phase-7 tenant-customisation epic. Compound multi-line events (FAC_PREMIUM_CEDED) are hard-coded in the service and intentionally absent here."
    },
    {
      "name": "Setup — Brokers",
      "description": "Broker master data (Module 1). Soft-deleted; preserved for historical policy / commission references."
    },
    {
      "name": "Chart of Accounts",
      "description": "Read-only access to the per-tenant Chart of Accounts. The COA is seeded by Flyway (V32 — 129 rows, 3-level hierarchy, IFRS-17 + IFRS-9 + NAICOM role tags). CRUD is deferred until the post-Phase-7 tenant-customisation epic."
    },
    {
      "name": "Setup — Customer Number Format",
      "description": "Per-tenant singleton config — controls customer number generation (prefix, year, type-segment, sequence length). Format: {prefix}/{year}/{type}/{sequence} (e.g. CUST/2026/IND/00000001). Lookup via PESSIMISTIC_WRITE in CustomerNumberFormatService — prevents duplicate numbers under concurrent onboarding."
    },
    {
      "name": "IFRS 9 — Investment ECL (§5.5)",
      "description": "Slice 3.5 Expected Credit Loss with three-stage routing. AC holdings: ECL reduces asset directly (Dr 5310 ECL_EXPENSE_AC / Cr 1140 ECL_AC_ALLOWANCE). FVOCI_DEBT: ECL routes to OCI reserve (Dr 5310 / Cr 3410) while carrying value stays at fair value — §5.7.10A rule. FVPL: no ECL."
    },
    {
      "name": "Claim Documents",
      "description": "Document attachments on a claim. Files are uploaded multipart, streamed via DocumentStorageService, and tagged with ClaimDocumentType (e.g. INCIDENT_REPORT, POLICE_REPORT, REPAIR_QUOTE). Used by the required-documents tracker on the claim summary."
    },
    {
      "name": "Facultative Reinsurance Covers",
      "description": "Facultative (FAC) outward covers — for risks that exceed treaty gross capacity or aren't covered by treaty. State machine: DRAFT → CONFIRMED → CANCELLED. Confirmation triggers FAC_PREMIUM_CEDED event → SubledgerPostingService cascades a CreditNote (payable to reinsurer) + JE."
    },
    {
      "name": "Setup — Insurance Companies",
      "description": "Co-insurance partner master data (used by Direct-with-Coinsurance + Inward-Coinsurance policy business types)."
    },
    {
      "name": "Setup — Products",
      "description": "Product master data (single-risk + multi-risk). Drives quote/policy creation across the lifecycle. Each product can have child commission setups, claim document requirements, claim notification timelines, policy number formats, policy specifications, survey thresholds (see nested endpoints)."
    },
    {
      "name": "Setup — Reinsurance Companies",
      "description": "Reinsurer master data. Drives treaty participant lists and FAC cover counterparties (Module 6)."
    },
    {
      "name": "Audit Logs",
      "description": "Search and view the full system audit trail across all modules"
    },
    {
      "name": "Setup — Banks",
      "description": "Bank master data. Drives the bank selector on Receipt + Payment processing (Module 8)."
    },
    {
      "name": "Setup — Branches",
      "description": "Insurer branch master data. Soft-deleted; preserved for historical policy + relationship-manager references."
    },
    {
      "name": "Debit Notes (Module 8)",
      "description": "Receivables-side documents. Generated automatically when a policy or endorsement is approved (SubledgerPostingService listens for PolicyApproved / EndorsementApproved events). State machine: ISSUED → PARTIALLY_PAID → SETTLED → CANCELLED / VOID."
    },
    {
      "name": "PAA — Contract Groups",
      "description": "IFRS 17 §16-22 contract groups + portfolios. Read-only — writes are event-driven via Slice 2.2's ContractGroupingService (PolicyApprovedEvent listener). The (portfolio, cohort_year, onerousness) triple is permanent per §22."
    },
    {
      "name": "Document Templates",
      "description": "PDF template master data for policy / quote / endorsement / DV documents. Per-product or per-class-of-business scoping. Rendered server-side via Thymeleaf + Apache PDFBox at document generation time."
    },
    {
      "name": "Setup — Claim Notification Timeline",
      "description": "Per-product singleton config — the SLA / timeline windows within which a claim must be notified after the loss event."
    },
    {
      "name": "Login & Session Logs",
      "description": "Login, logout, and failed authentication event recording and retrieval"
    },
    {
      "name": "Fiscal Years",
      "description": "Fiscal-year lifecycle and the period tree under each year. State machine: DRAFT → ACTIVE → CLOSED. Creating a fiscal year auto-generates MONTH / QUARTER / HALF_YEAR / YEAR periods (19 rows) via FiscalYearService — see Slice 1.6."
    },
    {
      "name": "Receipts (Module 8)",
      "description": "Customer receipts against a debit note. Posting a receipt subtracts from outstanding_amount; full settlement flips the debit note status to SETTLED. Reversal undoes the payment (re-opens the DN) and posts a contra entry via SubledgerPostingService."
    },
    {
      "name": "Setup — Adjusters",
      "description": "NAICOM-licensed loss-adjuster master data. Distinct from surveyors (pre-loss inspections); adjusters perform post-loss claim assessment."
    },
    {
      "name": "Setup — Surveyors",
      "description": "Internal + external surveyor master data. Drives surveyor assignment on pre-loss surveys (Module 3) and post-loss claim inspections (Module 5)."
    }
  ],
  "paths": {
    "/api/v1/setup/vehicle-types/{id}": {
      "get": {
        "tags": [
          "Setup — Vehicle Types"
        ],
        "summary": "Get vehicle type by id",
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Vehicle Types"
        ],
        "summary": "Update vehicle type",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleTypeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Vehicle Types"
        ],
        "summary": "Soft-delete vehicle type",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/vehicle-makes/{makeId}/models/{id}": {
      "get": {
        "tags": [
          "Setup — Vehicle Models"
        ],
        "summary": "Get vehicle model by id (scoped to its make)",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Make or model not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleModelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Vehicle Models"
        ],
        "summary": "Update vehicle model",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Make or model not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Vehicle Models"
        ],
        "summary": "Soft-delete vehicle model",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "Make or model not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/vehicle-makes/{id}": {
      "get": {
        "tags": [
          "Setup — Vehicle Makes"
        ],
        "summary": "Get vehicle make by id",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleMakeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Vehicle Makes"
        ],
        "summary": "Update vehicle make",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleMakeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleMakeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Vehicle Makes"
        ],
        "summary": "Soft-delete vehicle make",
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/users/{id}": {
      "get": {
        "tags": [
          "Setup — Users"
        ],
        "summary": "Get user by id",
        "operationId": "get_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "503": {
            "description": "Keycloak admin client unavailable"
          },
          "404": {
            "description": "User not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Users"
        ],
        "summary": "Update user profile + access group",
        "description": "Email is immutable on update — Keycloak treats it as the effective username and rotating it would invalidate existing JWTs. Status (ACTIVE/INACTIVE) and access group reassignment are honoured.",
        "operationId": "update_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "503": {
            "description": "Keycloak admin client unavailable"
          },
          "404": {
            "description": "User not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/surveyors/{id}": {
      "get": {
        "tags": [
          "Setup — Surveyors"
        ],
        "summary": "Get surveyor by id",
        "operationId": "get_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Surveyors"
        ],
        "summary": "Update surveyor",
        "operationId": "update_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Surveyors"
        ],
        "summary": "Soft-delete surveyor",
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/sbus/{id}": {
      "get": {
        "tags": [
          "Setup — SBUs (Strategic Business Units)"
        ],
        "summary": "Get SBU by id",
        "operationId": "get_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SbuResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — SBUs (Strategic Business Units)"
        ],
        "summary": "Update SBU",
        "operationId": "update_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SbuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SbuResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — SBUs (Strategic Business Units)"
        ],
        "summary": "Soft-delete SBU",
        "operationId": "delete_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/relationship-managers/{id}": {
      "get": {
        "tags": [
          "Setup — Relationship Managers"
        ],
        "summary": "Get RM by id",
        "operationId": "get_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "RM found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipManagerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Relationship Managers"
        ],
        "summary": "Update RM",
        "operationId": "update_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipManagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "RM updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipManagerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Relationship Managers"
        ],
        "summary": "Soft-delete RM",
        "operationId": "delete_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "200": {
            "description": "RM deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/reinsurance-companies/{id}": {
      "get": {
        "tags": [
          "Setup — Reinsurance Companies"
        ],
        "summary": "Get reinsurance company by id",
        "operationId": "get_7",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReinsuranceCompanyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Reinsurance Companies"
        ],
        "summary": "Update reinsurance company",
        "operationId": "update_7",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReinsuranceCompanyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReinsuranceCompanyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Reinsurance Companies"
        ],
        "summary": "Soft-delete reinsurance company",
        "operationId": "delete_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/quote-loading-types/{id}": {
      "put": {
        "tags": [
          "Setup — Quote Config"
        ],
        "summary": "Update a loading type",
        "operationId": "updateLoadingType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustmentTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdjustmentTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Quote Config"
        ],
        "summary": "Soft-delete loading type",
        "operationId": "deleteLoadingType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/quote-discount-types/{id}": {
      "put": {
        "tags": [
          "Setup — Quote Config"
        ],
        "summary": "Update a discount type",
        "operationId": "updateDiscountType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustmentTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdjustmentTypeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Quote Config"
        ],
        "summary": "Soft-delete discount type",
        "operationId": "deleteDiscountType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/quote-config": {
      "get": {
        "tags": [
          "Setup — Quote Config"
        ],
        "summary": "Get the quote config (tenant singleton)",
        "operationId": "getConfig",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Quote config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteConfigResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Quote Config"
        ],
        "summary": "Update the quote config",
        "description": "Changes the premium calculation sequence (LOADING_FIRST | DISCOUNT_FIRST) and validity period. Affects ALL subsequent quote creations — existing quotes lock in the sequence at create time.",
        "operationId": "updateConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteConfigResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{productId}/survey-thresholds/{id}": {
      "get": {
        "tags": [
          "Setup — Survey Thresholds"
        ],
        "summary": "Get survey threshold by id",
        "operationId": "get_8",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Product or threshold not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyThresholdResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Survey Thresholds"
        ],
        "summary": "Update survey threshold",
        "operationId": "update_8",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyThresholdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Product or threshold not found"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyThresholdResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Survey Thresholds"
        ],
        "summary": "Soft-delete survey threshold",
        "operationId": "delete_7",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "Product or threshold not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{productId}/policy-specification": {
      "get": {
        "tags": [
          "Setup — Policy Specification"
        ],
        "summary": "Get the policy specification for a product",
        "operationId": "get_9",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Specification (default if not configured)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySpecificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Policy Specification"
        ],
        "summary": "Upsert the policy specification (singleton-per-product)",
        "operationId": "upsert",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySpecificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicySpecificationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{productId}/policy-number-format": {
      "get": {
        "tags": [
          "Setup — Policy Number Format"
        ],
        "summary": "Get the policy number format for a product",
        "operationId": "get_10",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Format (default if not yet configured)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyNumberFormatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Policy Number Format"
        ],
        "summary": "Upsert the policy number format (singleton-per-product)",
        "operationId": "upsert_1",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyNumberFormatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          },
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyNumberFormatResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{productId}/commission-setups/{id}": {
      "get": {
        "tags": [
          "Setup — Commission Setups"
        ],
        "summary": "Get a commission setup by id",
        "operationId": "get_11",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Product or commission setup not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionSetupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Commission Setups"
        ],
        "summary": "Update commission setup",
        "operationId": "update_9",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommissionSetupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Product or commission setup not found"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommissionSetupResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Commission Setups"
        ],
        "summary": "Soft-delete commission setup",
        "operationId": "delete_8",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "Product or commission setup not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{productId}/claim-notification-timeline": {
      "get": {
        "tags": [
          "Setup — Claim Notification Timeline"
        ],
        "summary": "Get the claim notification timeline for a product",
        "operationId": "get_12",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timeline (default if not yet configured)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimNotificationTimelineResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Claim Notification Timeline"
        ],
        "summary": "Upsert the claim notification timeline (singleton-per-product)",
        "operationId": "upsert_2",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimNotificationTimelineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimNotificationTimelineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{productId}/claim-document-requirements/{id}": {
      "get": {
        "tags": [
          "Setup — Claim Document Requirements"
        ],
        "summary": "Get required-doc rule by id",
        "operationId": "get_13",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Product or rule not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDocumentRequirementResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Claim Document Requirements"
        ],
        "summary": "Update required-doc rule",
        "operationId": "update_10",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimDocumentRequirementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimDocumentRequirementResponse"
                }
              }
            }
          },
          "404": {
            "description": "Product or rule not found"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Claim Document Requirements"
        ],
        "summary": "Soft-delete required-doc rule",
        "operationId": "delete_9",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "404": {
            "description": "Product or rule not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/products/{id}": {
      "get": {
        "tags": [
          "Setup — Products"
        ],
        "summary": "Get product by id",
        "operationId": "get_14",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Products"
        ],
        "summary": "Update product",
        "operationId": "update_11",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Products"
        ],
        "summary": "Soft-delete product",
        "operationId": "delete_10",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/password-policy": {
      "get": {
        "tags": [
          "Setup — Password Policy"
        ],
        "summary": "Get password policy (tenant singleton; returns V3 defaults if never configured)",
        "operationId": "get_15",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Password policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordPolicyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Password Policy"
        ],
        "summary": "Upsert password policy",
        "operationId": "upsert_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/nature-of-loss/{id}": {
      "get": {
        "tags": [
          "Setup — Natures of Loss"
        ],
        "summary": "Get nature of loss by id",
        "operationId": "get_16",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NatureOfLossResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Natures of Loss"
        ],
        "summary": "Update nature of loss",
        "operationId": "update_12",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NatureOfLossRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NatureOfLossResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Natures of Loss"
        ],
        "summary": "Soft-delete nature of loss",
        "operationId": "delete_11",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/insurance-companies/{id}": {
      "get": {
        "tags": [
          "Setup — Insurance Companies"
        ],
        "summary": "Get insurance company by id",
        "operationId": "get_17",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceCompanyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Insurance Companies"
        ],
        "summary": "Update insurance company",
        "operationId": "update_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsuranceCompanyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsuranceCompanyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Insurance Companies"
        ],
        "summary": "Soft-delete insurance company",
        "operationId": "delete_12",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/customer-number-format": {
      "get": {
        "tags": [
          "Setup — Customer Number Format"
        ],
        "summary": "Get the customer number format (tenant singleton)",
        "description": "Returns 404 if no format is configured — customer onboarding will fail with CUSTOMER_NUMBER_FORMAT_NOT_CONFIGURED until this is set.",
        "operationId": "get_18",
        "responses": {
          "404": {
            "description": "Not yet configured"
          },
          "200": {
            "description": "Customer number format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerNumberFormatResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Customer Number Format"
        ],
        "summary": "Upsert the customer number format",
        "operationId": "upsert_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerNumberFormatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerNumberFormatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/currencies/{id}": {
      "get": {
        "tags": [
          "Setup — Currencies"
        ],
        "summary": "Get currency by id",
        "operationId": "get_19",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Currencies"
        ],
        "summary": "Update currency",
        "operationId": "update_14",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Setup — Currencies"
        ],
        "summary": "Soft-delete currency",
        "operationId": "delete_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/company-settings": {
      "get": {
        "tags": [
          "Setup — Company Settings"
        ],
        "summary": "Get company settings (tenant singleton)",
        "operationId": "get_20",
        "responses": {
          "200": {
            "description": "Company settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Company Settings"
        ],
        "summary": "Upsert company settings",
        "operationId": "upsert_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Upserted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySettingsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/setup/classes-of-business/{id}": {
      "get": {
        "tags": [
          "Setup — Classes of Business"
        ],
        "summary": "Get class of business by id",
        "operationId": "get_21",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassOfBusinessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Setup — Classes of Business"
        ],
        "summary": "Update class of business",
        "operationId": "update_15",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassOfBusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClassOfBusinessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "403": {
[...]
