{
  "openapi": "3.1.0",
  "info": {
    "title": "CIA Internal API",
    "description": "Internal REST API for the Core Insurance Application \u2014 staff, System Auditors, and system-to-system use. Authentication via Keycloak JWT (Bearer token). All endpoints require `isAuthenticated()`; fine-grained access uses module-level roles.",
    "version": "2.2.0",
    "contact": {
      "name": "Nubeero Engineering",
      "email": "engineering@nubeero.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cia.app/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:8090/api/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerJwt": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak RS256 JWT. Obtain via Keycloak login at your tenant realm."
      }
    },
    "schemas": {
      "ApiMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "example": 142
          },
          "page": {
            "type": "integer",
            "example": 0
          },
          "size": {
            "type": "integer",
            "example": 20
          }
        }
      },
      "AuditLogResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": "string",
            "example": "Policy"
          },
          "entityId": {
            "type": "string",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "action": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE",
              "APPROVE",
              "REJECT",
              "SUBMIT",
              "SEND",
              "CANCEL",
              "REVERSE",
              "EXECUTE"
            ]
          },
          "userId": {
            "type": "string",
            "example": "auth0|abc123"
          },
          "userName": {
            "type": "string",
            "example": "chidi.okonkwo"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "ipAddress": {
            "type": "string",
            "example": "197.210.64.1"
          },
          "oldValue": {
            "type": "object",
            "description": "JSON snapshot before change"
          },
          "newValue": {
            "type": "object",
            "description": "JSON snapshot after change"
          },
          "approvalAmount": {
            "type": "number",
            "format": "double",
            "example": 75000000.0
          }
        }
      },
      "LoginAuditLogResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "LOGIN",
              "LOGOUT",
              "LOGIN_FAILED",
              "PASSWORD_RESET",
              "ACCOUNT_LOCKED"
            ]
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean"
          },
          "failureReason": {
            "type": "string"
          }
        }
      },
      "AuditAlertResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "alertType": {
            "type": "string",
            "enum": [
              "FAILED_LOGIN",
              "BULK_DELETE",
              "OFF_HOURS_ACTIVITY",
              "LARGE_FINANCIAL_APPROVAL"
            ]
          },
          "severity": {
            "type": "string",
            "example": "WARNING"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "triggeredAt": {
            "type": "string",
            "format": "date-time"
          },
          "acknowledged": {
            "type": "boolean"
          },
          "acknowledgedBy": {
            "type": "string"
          },
          "acknowledgedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditAlertConfigResponse": {
        "type": "object",
        "properties": {
          "businessHoursStart": {
            "type": "string",
            "example": "08:00"
          },
          "businessHoursEnd": {
            "type": "string",
            "example": "18:00"
          },
          "businessDays": {
            "type": "string",
            "example": "MON,TUE,WED,THU,FRI"
          },
          "largeApprovalThreshold": {
            "type": "number",
            "example": 50000000
          },
          "maxFailedLoginAttempts": {
            "type": "integer",
            "example": 3
          },
          "bulkDeleteCount": {
            "type": "integer",
            "example": 5
          },
          "bulkDeleteWindowMinutes": {
            "type": "integer",
            "example": 5
          },
          "retentionYears": {
            "type": "integer",
            "example": 7
          }
        }
      },
      "AuditAlertConfigRequest": {
        "type": "object",
        "properties": {
          "businessHoursStart": {
            "type": "string",
            "example": "08:00"
          },
          "businessHoursEnd": {
            "type": "string",
            "example": "18:00"
          },
          "businessDays": {
            "type": "string",
            "example": "MON,TUE,WED,THU,FRI"
          },
          "largeApprovalThreshold": {
            "type": "number",
            "example": 50000000
          },
          "maxFailedLoginAttempts": {
            "type": "integer",
            "example": 3
          },
          "bulkDeleteCount": {
            "type": "integer",
            "example": 5
          },
          "bulkDeleteWindowMinutes": {
            "type": "integer",
            "example": 5
          },
          "retentionYears": {
            "type": "integer",
            "example": 7
          }
        }
      },
      "UserActivitySummary": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "actionCount": {
            "type": "integer",
            "format": "int64",
            "example": 284
          }
        }
      },
      "ChartOfAccountNode": {
        "type": "object",
        "description": "Chart-of-accounts node returned by GET /finance/chart-of-accounts. Recursive — leaves carry an empty children array.",
        "properties": {
          "code": {
            "type": "string",
            "example": "2110",
            "description": "Seeded account code (4-digit hierarchical: class.group.leaf)."
          },
          "name": {
            "type": "string",
            "example": "LRC - Best estimate of liabilities"
          },
          "accountType": {
            "type": "string",
            "enum": ["ASSET", "LIABILITY", "EQUITY", "INCOME", "EXPENSE"],
            "example": "LIABILITY"
          },
          "ifrs17Role": {
            "type": "string",
            "nullable": true,
            "example": "LRC_BEL",
            "description": "IFRS 17 measurement role tag (null on non-measurement leaves)."
          },
          "ifrs9Role": {
            "type": "string",
            "nullable": true,
            "example": "FVPL",
            "description": "IFRS 9 classification role tag (null on non-investment leaves)."
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChartOfAccountNode"
            }
          }
        }
      },
      "JournalEntryLineRequest": {
        "type": "object",
        "description": "One leg of a POST /finance/journal-entries request. Exactly one of debitAmount / creditAmount must be > 0; the other must be 0.",
        "required": ["accountCode", "debitAmount", "creditAmount"],
        "properties": {
          "accountCode": {
            "type": "string",
            "example": "1110",
            "description": "COA leaf code; resolved server-side to the account id."
          },
          "debitAmount": {
            "type": "number",
            "format": "double",
            "example": 100.00,
            "minimum": 0
          },
          "creditAmount": {
            "type": "number",
            "format": "double",
            "example": 0.00,
            "minimum": 0
          },
          "currencyCode": {
            "type": "string",
            "example": "NGN",
            "default": "NGN"
          },
          "cohortYear": {
            "type": "integer",
            "nullable": true,
            "description": "IFRS 17 cohort year (Slice 2.x). Null in Slice 1.4."
          },
          "portfolioId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "contractGroupId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "holdingId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "IFRS 9 per-instrument tag (Slice 3.x)."
          },
          "dimensionTags": {
            "type": "object",
            "additionalProperties": true,
            "description": "Free-form analytic tags persisted as JSONB."
          }
        }
      },
      "PostJournalEntryRequest": {
        "type": "object",
        "description": "Wire contract for POST /finance/journal-entries. The service stamps postingDate=today (D5 default); callers cannot override it.",
        "required": ["businessDate", "sourceModule", "sourceEventType", "sourceReference", "lines"],
        "properties": {
          "businessDate": {
            "type": "string",
            "format": "date",
            "example": "2026-05-14",
            "description": "Economic event date. Drives period assignment via FiscalPeriodResolver and the 5-business-day late-posting cut-off (Slice 1.7)."
          },
          "sourceModule": {
            "type": "string",
            "maxLength": 40,
            "example": "finance"
          },
          "sourceEventType": {
            "type": "string",
            "maxLength": 60,
            "example": "MANUAL"
          },
          "sourceReference": {
            "type": "string",
            "maxLength": 100,
            "example": "ref-2026-05-14-001",
            "description": "Idempotency key (forms UNIQUE triple with sourceModule + sourceEventType). For manual postings, use a fresh UUID-derived value (D8)."
          },
          "narrative": {
            "type": "string",
            "nullable": true
          },
          "lines": {
            "type": "array",
            "minItems": 2,
            "items": {
              "$ref": "#/components/schemas/JournalEntryLineRequest"
            }
          }
        }
      },
      "ReverseJournalEntryRequest": {
        "type": "object",
        "description": "Wire contract for POST /finance/journal-entries/{id}/reverse. The reason is appended to the auto-built reversal narrative.",
        "required": ["reason"],
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 500,
            "example": "Misposting cleanup — wrong COA",
            "description": "Audit trail justification. Appears in the reversal entry narrative as 'REVERSAL of JE {originalId}: {reason}'."
          }
        }
      },
      "JournalEntryLineResponse": {
        "type": "object",
        "description": "Read model for one journal entry line, with COA fields surfaced alongside the id.",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "lineNo": {"type": "integer", "example": 1},
          "accountId": {"type": "string", "format": "uuid"},
          "accountCode": {"type": "string", "example": "1110"},
          "accountName": {"type": "string", "example": "Cash on hand"},
          "debitAmount": {"type": "number", "format": "double", "example": 100.00},
          "creditAmount": {"type": "number", "format": "double", "example": 0.00},
          "currencyCode": {"type": "string", "example": "NGN"},
          "cohortYear": {"type": "integer", "nullable": true},
          "portfolioId": {"type": "string", "format": "uuid", "nullable": true},
          "contractGroupId": {"type": "string", "format": "uuid", "nullable": true},
          "holdingId": {"type": "string", "format": "uuid", "nullable": true},
          "dimensionTags": {"type": "object", "additionalProperties": true}
        }
      },
      "JournalEntryResponse": {
        "type": "object",
        "description": "Posted journal entry with all of its lines. Returned by POST /finance/journal-entries, GET /finance/journal-entries/{id}, and POST /finance/journal-entries/{id}/reverse.",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "postingDate": {"type": "string", "format": "date", "description": "Server-stamped record date (today)."},
          "businessDate": {"type": "string", "format": "date", "description": "Economic event date supplied by caller."},
          "periodId": {"type": "string", "format": "uuid", "description": "Resolved fiscal_period.id (MONTH period covering businessDate)."},
          "sourceModule": {"type": "string"},
          "sourceEventType": {"type": "string", "description": "On reversal entries this is the literal 'REVERSAL'."},
          "sourceReference": {"type": "string", "description": "On reversal entries this is the original JE id."},
          "narrative": {"type": "string", "nullable": true},
          "postedBy": {"type": "string"},
          "status": {
            "type": "string",
            "enum": ["DRAFT", "POSTED", "REVERSED"],
            "example": "POSTED"
          },
          "reversalOf": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Non-null only on entries that themselves reverse an earlier JE."
          },
          "createdAt": {"type": "string", "format": "date-time"},
          "lines": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/JournalEntryLineResponse"}
          }
        }
      },
      "TrialBalanceLine": {
        "type": "object",
        "description": "One row of a trial balance. debitBalance / creditBalance are mutually exclusive (exactly one > 0; the other is 0).",
        "properties": {
          "accountId": {"type": "string", "format": "uuid"},
          "accountCode": {"type": "string", "example": "1110"},
          "accountName": {"type": "string", "example": "Cash on hand"},
          "accountType": {
            "type": "string",
            "enum": ["ASSET", "LIABILITY", "EQUITY", "INCOME", "EXPENSE"]
          },
          "debitBalance": {"type": "number", "format": "double", "example": 400.00},
          "creditBalance": {"type": "number", "format": "double", "example": 0.00}
        }
      },
      "TrialBalanceFooter": {
        "type": "object",
        "description": "Aggregate footer attached to every TrialBalanceResponse (D3=A flat-list-plus-footer shape).",
        "properties": {
          "totalDebits": {"type": "number", "format": "double", "example": 505263.29},
          "totalCredits": {"type": "number", "format": "double", "example": 505263.29},
          "balanced": {"type": "boolean", "example": true, "description": "Pre-computed: totalDebits.compareTo(totalCredits) == 0."},
          "lineCount": {"type": "integer", "format": "int64", "example": 200, "description": "Count of journal_entry_lines that contributed (not accounts)."}
        }
      },
      "TrialBalanceResponse": {
        "type": "object",
        "description": "GET /finance/trial-balance?asOf= response. asOf is interpreted on business_date (D4=A) — cumulative since inception.",
        "properties": {
          "asOf": {"type": "string", "format": "date", "example": "2026-05-14"},
          "generatedAt": {"type": "string", "format": "date-time"},
          "lines": {
            "type": "array",
            "items": {"$ref": "#/components/schemas/TrialBalanceLine"}
          },
          "footer": {"$ref": "#/components/schemas/TrialBalanceFooter"}
        }
      },
      "CreateFiscalYearRequest": {
        "type": "object",
        "description": "Wire contract for POST /finance/fiscal-years. All three fields are optional (D1=A): omitting all yields the current-calendar-year FY. If supplied, startDate must be the first day of a month and endDate must be exactly 12 months minus one day later. Name defaults to FY{year} (d9).",
        "properties": {
          "name": {"type": "string", "maxLength": 50, "nullable": true, "example": "FY2026"},
          "startDate": {"type": "string", "format": "date", "nullable": true, "example": "2026-01-01"},
          "endDate": {"type": "string", "format": "date", "nullable": true, "example": "2026-12-31"}
        }
      },
      "FiscalPeriodResponse": {
        "type": "object",
        "description": "One fiscal period — child of a FiscalYear, generated at FY create time (D2=A). MONTH/QUARTER/HALF_YEAR boundaries are FY-relative (d8). softClosedAt/hardClosedAt arrive via Slice 1.7 (PeriodLockService).",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "fiscalYearId": {"type": "string", "format": "uuid"},
          "periodType": {"type": "string", "enum": ["DAY", "MONTH", "QUARTER", "HALF_YEAR", "YEAR"]},
          "startDate": {"type": "string", "format": "date"},
          "endDate": {"type": "string", "format": "date"},
          "status": {"type": "string", "enum": ["OPEN", "SOFT_CLOSED", "HARD_CLOSED", "REOPENED"]},
          "softClosedAt": {"type": "string", "format": "date-time", "nullable": true},
          "hardClosedAt": {"type": "string", "format": "date-time", "nullable": true}
        }
      },
      "FiscalYearResponse": {
        "type": "object",
        "description": "Fiscal year with optional embedded periods. periods is non-null only when ?includePeriods=true on GET or on POST (create returns the freshly-generated set).",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "name": {"type": "string", "example": "FY2026"},
          "startDate": {"type": "string", "format": "date"},
          "endDate": {"type": "string", "format": "date"},
          "status": {"type": "string", "enum": ["PLANNING", "ACTIVE", "CLOSED"], "example": "ACTIVE"},
          "createdAt": {"type": "string", "format": "date-time"},
          "periods": {
            "type": "array",
            "nullable": true,
            "items": {"$ref": "#/components/schemas/FiscalPeriodResponse"}
          }
        }
      },
      "PeriodLockResponse": {
        "type": "object",
        "description": "Row from the V31 period_lock table. Type-2 SCD — released_at IS NULL = active lock; the full sequence of soft/hard/release rows IS the audit history.",
        "properties": {
          "id": {"type": "string", "format": "uuid"},
          "fiscalPeriodId": {"type": "string", "format": "uuid"},
          "lockType": {"type": "string", "enum": ["SOFT", "HARD"]},
          "lockedAt": {"type": "string", "format": "date-time"},
          "lockedBy": {"type": "string"},
          "graceWindowUntil": {"type": "string", "format": "date-time", "nullable": true, "description": "SOFT locks: 5 business days past lockedAt; HARD locks: null"},
          "releasedAt": {"type": "string", "format": "date-time", "nullable": true},
          "releasedBy": {"type": "string", "nullable": true},
          "releaseReason": {"type": "string", "nullable": true}
        }
      },
      "LockReportEntry": {
        "type": "object",
        "description": "One day's row in a /finance/period-locks/preview report. Bulk-operation callers use this to pre-check a date range.",
        "properties": {
          "date": {"type": "string", "format": "date"},
          "periodId": {"type": "string", "format": "uuid", "nullable": true},
          "periodLabel": {"type": "string", "example": "May 2026"},
          "status": {"type": "string", "enum": ["OPEN", "SOFT_CLOSED", "HARD_CLOSED", "REOPENED"], "nullable": true},
          "graceWindowUntil": {"type": "string", "format": "date-time", "nullable": true},
          "requiresOverride": {"type": "boolean"},
          "rejected": {"type": "boolean"}
        }
      },
      "DashboardStats": {
        "type": "object",
        "properties": {
          "activePolicies": {
            "type": "integer",
            "example": 142
          },
          "openClaims": {
            "type": "integer",
            "example": 23
          },
          "pendingApprovals": {
            "type": "integer",
            "example": 7
          },
          "premiumsMtd": {
            "type": "number",
            "format": "double",
            "example": 45600000.0
          },
          "claimsReserveTotal": {
            "type": "number",
            "format": "double",
            "example": 12300000.0
          },
          "renewalsDue30Days": {
            "type": "integer",
            "example": 18
          },
          "outstandingPremium": {
            "type": "number",
            "format": "double",
            "example": 8750000.0
          },
          "riUtilisationPct": {
            "type": "number",
            "format": "double",
            "example": 67.3
          }
        }
      },
      "ApprovalQueue": {
        "type": "object",
        "properties": {
          "policies": {
            "type": "integer",
            "example": 3
          },
          "quotes": {
            "type": "integer",
            "example": 2
          },
          "endorsements": {
            "type": "integer",
            "example": 1
          },
          "claims": {
            "type": "integer",
            "example": 0
          },
          "receipts": {
            "type": "integer",
            "example": 1
          },
          "payments": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "LossRatioMonth": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "Apr 26"
          },
          "premium": {
            "type": "number",
            "format": "double",
            "example": 15000000.0
          },
          "claims": {
            "type": "number",
            "format": "double",
            "example": 9500000.0
          },
          "lossRatioPct": {
            "type": "number",
            "format": "double",
            "example": 63.3
          }
        }
      },
      "RenewalDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-04-26"
          },
          "label": {
            "type": "string",
            "example": "Sun"
          },
          "count": {
            "type": "integer",
            "example": 4
          }
        }
      },
      "RecentActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": "string",
            "example": "Policy"
          },
          "entityId": {
            "type": "string",
            "example": "POL-2026-00041"
          },
          "action": {
            "type": "string",
            "example": "APPROVE"
          },
          "userName": {
            "type": "string",
            "example": "chidi.okonkwo"
          },
          "timeAgo": {
            "type": "string",
            "example": "2m ago"
          },
          "statusGroup": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "rejected"
            ]
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "Policy",
              "Claim",
              "Customer",
              "Quote"
            ]
          },
          "label": {
            "type": "string",
            "example": "POL-2026-00041"
          },
          "sub": {
            "type": "string",
            "example": "Active"
          },
          "path": {
            "type": "string",
            "example": "/policies/3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        }
      },
      "CustomerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customerType": {
            "type": "string",
            "enum": [
              "INDIVIDUAL",
              "CORPORATE"
            ]
          },
          "customerStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "BLACKLISTED",
              "INACTIVE"
            ]
          },
          "kycStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "IN_PROGRESS",
              "PASSED",
              "FAILED"
            ]
          },
          "displayName": {
            "type": "string",
            "example": "Chioma Okafor"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "example": "+234 803 000 0000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customerType": {
            "type": "string",
            "enum": [
              "INDIVIDUAL",
              "CORPORATE"
            ]
          },
          "customerStatus": {
            "type": "string"
          },
          "kycStatus": {
            "type": "string"
          },
          "kycProviderRef": {
            "type": "string"
          },
          "kycFailureReason": {
            "type": "string"
          },
          "kycVerifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "idType": {
            "type": "string",
            "enum": [
              "NIN",
              "VOTERS_CARD",
              "DRIVERS_LICENSE",
              "PASSPORT"
            ]
          },
          "idNumber": {
            "type": "string"
          },
          "idDocumentUrl": {
            "type": "string",
            "description": "MinIO/S3 path to uploaded ID document"
          },
          "idExpiryDate": {
            "type": "string",
            "format": "date",
            "description": "Required for Driver's Licence and Passport; must not be expired at onboarding"
          },
          "companyName": {
            "type": "string"
          },
          "rcNumber": {
            "type": "string"
          },
          "cacCertificateUrl": {
            "type": "string",
            "description": "MinIO/S3 path to uploaded CAC certificate"
          },
          "cacIssuedDate": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "directors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDirector"
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDocument"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerDirector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "idType": {
            "type": "string"
          },
          "idNumber": {
            "type": "string"
          },
          "idDocumentUrl": {
            "type": "string"
          },
          "idExpiryDate": {
            "type": "string",
            "format": "date"
          },
          "kycStatus": {
            "type": "string"
          },
          "kycFailureReason": {
            "type": "string"
          }
        }
      },
      "CustomerDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "documentType": {
            "type": "string"
          },
          "documentName": {
            "type": "string"
          },
          "documentPath": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSizeBytes": {
            "type": "integer"
          },
          "uploadedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReportDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Loss Ratio Report"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "UNDERWRITING",
              "CLAIMS",
              "FINANCE",
              "REINSURANCE",
              "CUSTOMER",
              "REGULATORY"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "SYSTEM",
              "CUSTOM"
            ],
            "description": "SYSTEM reports are immutable; clone into CUSTOM to modify"
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "POLICIES",
              "CLAIMS",
              "FINANCE",
              "REINSURANCE",
              "CUSTOMERS",
              "ENDORSEMENTS"
            ]
          },
          "config": {
            "type": "object",
            "description": "ReportConfig JSONB: {fields, filters, groupBy, sortBy, sortDir, chart}"
          },
          "pinnable": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReportResult": {
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "computed": {
                  "type": "boolean"
                }
              }
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalRows": {
            "type": "integer"
          }
        }
      },
      "ReportAccessPolicy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accessGroupId": {
            "type": "string",
            "format": "uuid"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Null for report-level policies"
          },
          "report": {
            "$ref": "#/components/schemas/ReportDefinition",
            "nullable": true
          },
          "canView": {
            "type": "boolean"
          },
          "canExportCsv": {
            "type": "boolean"
          },
          "canExportPdf": {
            "type": "boolean"
          }
        }
      },
      "ClaimSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "claimNumber": {
            "type": "string",
            "example": "CLM-2026-00018"
          },
          "status": {
            "type": "string"
          },
          "reserveAmount": {
            "type": "number"
          },
          "totalPaid": {
            "type": "number"
          },
          "policyNumber": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EndorsementSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "endorsementNumber": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "RENEWAL",
              "EXTENSION",
              "CANCELLATION",
              "REVERSAL",
              "REDUCTION",
              "CHANGE",
              "INCREASE_SI",
              "DECREASE_SI",
              "ADD_ITEMS",
              "DELETE_ITEMS"
            ]
          },
          "status": {
            "type": "string"
          },
          "endorsementPremium": {
            "type": "number"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "DebitNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "debitNoteNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "OUTSTANDING",
              "PARTIALLY_PAID",
              "PAID",
              "REVERSED"
            ]
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CreditNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "creditNoteNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "OUTSTANDING",
              "PAID",
              "CANCELLED"
            ]
          },
          "type": {
            "type": "string"
          },
          "beneficiaryName": {
            "type": "string"
          }
        }
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "receiptNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          },
          "paymentDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "paymentNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          }
        }
      },
      "PolicySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyNumber": {
            "type": "string",
            "example": "POL-2026-00041"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING_APPROVAL",
              "ACTIVE",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "businessType": {
            "type": "string"
          },
          "totalPremium": {
            "type": "number"
          },
          "policyStartDate": {
            "type": "string",
            "format": "date"
          },
          "policyEndDate": {
            "type": "string",
            "format": "date"
          },
          "customerName": {
            "type": "string"
          },
          "className": {
            "type": "string"
          }
        }
      },
      "QuoteSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "quoteNumber": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING_APPROVAL",
              "APPROVED",
              "BOUND",
              "LAPSED",
              "REJECTED"
            ]
          },
          "totalPremium": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "className": {
            "type": "string"
          },
          "expiryDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "RiAllocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "treatyId": {
            "type": "string",
            "format": "uuid"
          },
          "treatyName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "AUTO_ALLOCATED",
              "CONFIRMED",
              "APPROVED",
              "CANCELLED"
            ]
          },
          "retainedAmount": {
            "type": "number"
          },
          "cedingAmount": {
            "type": "number"
          }
        }
      },
      "RiFacCover": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "reinsurerId": {
            "type": "string",
            "format": "uuid"
          },
          "sharePercent": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "enum": [
              "OUTWARD",
              "INWARD"
            ]
          },
          "status": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "RiTreaty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "SURPLUS",
              "QUOTA_SHARE",
              "XOL"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "retentionLimit": {
            "type": "number"
          },
          "surplusCapacity": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SetupEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PartnerApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "allowedScopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rateLimitTier": {
            "type": "string"
          }
        }
      },
      "CustomerNumberFormat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "prefix": {
            "type": "string",
            "example": "CUST"
          },
          "includeYear": {
            "type": "boolean"
          },
          "includeType": {
            "type": "boolean"
          },
          "sequenceLength": {
            "type": "integer",
            "example": 8
          },
          "lastSequence": {
            "type": "integer",
            "format": "int64"
          },
          "lastSequenceIndividual": {
            "type": "integer",
            "format": "int64"
          },
          "lastSequenceCorporate": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdjustmentTypeRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "description": "Discount or loading type name"
          }
        }
      },
      "QuoteConfigRequest": {
        "type": "object",
        "required": [
          "validityDays",
          "calcSequence"
        ],
        "properties": {
          "validityDays": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365,
            "description": "Quote validity in days (printed on PDF)"
          },
          "calcSequence": {
            "type": "string",
            "enum": [
              "LOADING_FIRST",
              "DISCOUNT_FIRST"
            ],
            "description": "Premium calculation sequence"
          }
        }
      },
      "AdjustmentEntryRequest": {
        "type": "object",
        "required": [
          "typeId",
          "format",
          "value"
        ],
        "properties": {
          "typeId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the discount/loading type from setup"
          },
          "format": {
            "type": "string",
            "enum": [
              "PERCENT",
              "FLAT"
            ],
            "description": "Whether the value is a percentage or flat Naira amount"
          },
          "value": {
            "type": "number",
            "minimum": 0,
            "description": "Rate (%) or flat amount (NGN)"
          }
        }
      },
      "AdjustmentEntryResponse": {
        "type": "object",
        "properties": {
          "typeId": {
            "type": "string",
            "format": "uuid"
          },
          "typeName": {
            "type": "string",
            "description": "Denormalized type name at time of save"
          },
          "format": {
            "type": "string",
            "enum": [
              "PERCENT",
              "FLAT"
            ]
          },
          "value": {
            "type": "number"
          },
          "computedAmount": {
            "type": "number",
            "description": "Calculated NGN amount based on format and base premium"
          }
        }
      },
      "QuoteRiskRequest": {
        "type": "object",
        "required": [
          "description",
          "sumInsured",
          "rate"
        ],
        "properties": {
          "description": {
            "type": "string"
          },
          "sumInsured": {
            "type": "number",
            "description": "Sum insured in NGN"
          },
          "rate": {
            "type": "number",
            "description": "Premium rate as a percentage (e.g. 2.25 for 2.25%)"
          },
          "sectionId": {
            "type": "string",
            "format": "uuid",
            "description": "Optional product section ID"
          },
          "riskDetails": {
            "type": "object",
            "description": "Flexible JSONB risk-specific metadata"
          },
          "loadings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryRequest"
            }
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryRequest"
            }
          }
        }
      },
      "QuoteRiskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string"
          },
          "sumInsured": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          },
          "grossPremium": {
            "type": "number",
            "description": "Gross premium before loadings/discounts"
          },
          "premium": {
            "type": "number",
            "description": "Item net premium after loadings and discounts"
          },
          "sectionId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionName": {
            "type": "string"
          },
          "loadings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryResponse"
            }
          },
          "discounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryResponse"
            }
          },
          "orderNo": {
            "type": "integer"
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": [
          "customerId",
          "productId",
          "businessType",
          "policyStartDate",
          "policyEndDate",
          "risks"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "brokerId": {
            "type": "string",
            "format": "uuid"
          },
          "businessType": {
            "type": "string",
            "enum": [
              "DIRECT",
              "DIRECT_WITH_COINSURANCE",
              "INWARD_COINSURANCE"
            ]
          },
          "policyStartDate": {
            "type": "string",
            "format": "date"
          },
          "policyEndDate": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string"
          },
          "risks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuoteRiskRequest"
            },
            "minItems": 1
          },
          "quoteLoadings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryRequest"
            },
            "description": "Quote-level loadings applied on top of item nets"
          },
          "quoteDiscounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryRequest"
            },
            "description": "Quote-level discounts"
          },
          "selectedClauseIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of clauses from the clause bank to attach to this quote"
          }
        }
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "quoteNumber": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING_APPROVAL",
              "APPROVED",
              "REJECTED",
              "CONVERTED",
              "EXPIRED"
            ]
          },
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "customerName": {
            "type": "string"
          },
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "productName": {
            "type": "string"
          },
          "productCode": {
            "type": "string"
          },
          "productRate": {
            "type": "number"
          },
          "classOfBusinessId": {
            "type": "string",
            "format": "uuid"
          },
          "classOfBusinessName": {
            "type": "string"
          },
          "brokerId": {
            "type": "string",
            "format": "uuid"
          },
          "brokerName": {
            "type": "string"
          },
          "businessType": {
            "type": "string"
          },
          "policyStartDate": {
            "type": "string",
            "format": "date"
          },
          "policyEndDate": {
            "type": "string",
            "format": "date"
          },
          "totalSumInsured": {
            "type": "number"
          },
          "totalGrossPremium": {
            "type": "number",
            "description": "Sum of all item gross premiums"
          },
          "totalNetPremium": {
            "type": "number",
            "description": "Final net premium after all loadings and discounts"
          },
          "quoteLoadings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryResponse"
            }
          },
          "quoteDiscounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryResponse"
            }
          },
          "selectedClauseIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "inputterName": {
            "type": "string",
            "description": "Name of the underwriter who created the quote"
          },
          "approverName": {
            "type": "string",
            "description": "Name of the approving officer (set on approval)"
          },
          "notes": {
            "type": "string"
          },
          "workflowId": {
            "type": "string"
          },
          "approvedBy": {
            "type": "string"
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time"
          },
          "rejectedBy": {
            "type": "string"
          },
          "rejectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "rejectionReason": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "risks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuoteRiskResponse"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QuoteUpdateRequest": {
        "type": "object",
        "description": "All fields optional \u2014 only provided fields are updated. Risks, if provided, replace all existing risk items.",
        "properties": {
          "brokerId": {
            "type": "string",
            "format": "uuid"
          },
          "businessType": {
            "type": "string",
            "enum": [
              "DIRECT",
              "DIRECT_WITH_COINSURANCE",
              "INWARD_COINSURANCE"
            ]
          },
          "policyStartDate": {
            "type": "string",
            "format": "date"
          },
          "policyEndDate": {
            "type": "string",
            "format": "date"
          },
          "notes": {
            "type": "string"
          },
          "risks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuoteRiskRequest"
            }
          },
          "quoteLoadings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryRequest"
            }
          },
          "quoteDiscounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdjustmentEntryRequest"
            }
          },
          "selectedClauseIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Audit Logs",
      "description": "Search and view the full system audit trail across all modules"
    },
    {
      "name": "Login & Session Logs",
      "description": "Login, logout, and failed authentication event recording and retrieval"
    },
    {
      "name": "Audit Alerts",
      "description": "Real-time anomaly alerts \u2014 failed logins, bulk deletes, off-hours activity, large approvals"
    },
    {
      "name": "Audit Configuration",
      "description": "Alert thresholds and data retention settings (System Admin only for writes)"
    },
    {
      "name": "Audit Export",
      "description": "Export audit logs as CSV"
    },
    {
      "name": "Audit Reports",
      "description": "Six pre-built compliance reports"
    }
  ],
  "paths": {
    "/audit/alerts": {
      "get": {
        "summary": "List audit alerts",
        "operationId": "listAlerts",
        "tags": [
          "Audit Alerts"
        ],
        "description": "Returns all alerts or unacknowledged-only when `unacknowledgedOnly=true`. Ordered newest first.",
        "parameters": [
          {
            "name": "unacknowledgedOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated alert list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditAlertResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/audit/alerts/{id}/acknowledge": {
      "post": {
        "summary": "Acknowledge an alert",
        "operationId": "acknowledgeAlert",
        "tags": [
          "Audit Alerts"
        ],
        "description": "Marks the alert as acknowledged. The acknowledging user is recorded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditAlertResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/export": {
      "get": {
        "summary": "Export audit logs as CSV",
        "operationId": "exportAuditCsv",
        "tags": [
          "Audit Export"
        ],
        "description": "Streams a CSV file containing audit log entries matching the supplied filters. All filters are optional.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file stream",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/audit/exporttext/csv": {
      "get": {
        "summary": "Export csv",
        "operationId": "exportCsv",
        "tags": [
          "Audit Export"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/audit/login-logs": {
      "get": {
        "summary": "List login & session logs",
        "operationId": "listLoginLogs",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "Filterable by userId or date range. Requires AUDIT_VIEW or SETUP_UPDATE role.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated login log entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginAuditLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/audit/logs": {
      "get": {
        "summary": "Search audit logs",
        "operationId": "searchAuditLogs",
        "tags": [
          "Audit Logs"
        ],
        "description": "Paginated, filterable audit trail. Filter by entityType, entityId, userId, action, or date range.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Policy"
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CREATE",
                "UPDATE",
                "DELETE",
                "APPROVE",
                "REJECT",
                "SUBMIT",
                "SEND",
                "CANCEL",
                "REVERSE",
                "EXECUTE"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit log entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role \u2014 requires AUDIT_VIEW or SETUP_UPDATE"
          }
        }
      }
    },
    "/audit/reports/actions-by-module": {
      "get": {
        "summary": "Report 2 \u2014 Actions by module",
        "operationId": "reportActionsByModule",
        "tags": [
          "Audit Reports"
        ],
        "description": "All audit events for a specific entity type (module) in a date range.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Policy"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit events for module"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/actions-by-user": {
      "get": {
        "summary": "Report 1 \u2014 Actions by user",
        "operationId": "reportActionsByUser",
        "tags": [
          "Audit Reports"
        ],
        "description": "All audit events performed by a specific user in a date range.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit events for user"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/approvals": {
      "get": {
        "summary": "Report 3 \u2014 Approval audit trail",
        "operationId": "reportApprovals",
        "tags": [
          "Audit Reports"
        ],
        "description": "All APPROVE and REJECT events across every module in a date range.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated approval events"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/data-changes": {
      "get": {
        "summary": "Report 4 \u2014 Data change history",
        "operationId": "reportDataChanges",
        "tags": [
          "Audit Reports"
        ],
        "description": "Full before/after change history for a specific entity. Returns old_value and new_value JSONB snapshots.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated change events with before/after snapshots"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/login-security": {
      "get": {
        "summary": "Report 5 \u2014 Login & security events",
        "operationId": "reportLoginSecurity",
        "tags": [
          "Audit Reports"
        ],
        "description": "Login, logout, and failed authentication events in a date range.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated login events"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/user-activity": {
      "get": {
        "summary": "Report 6 \u2014 User activity summary",
        "operationId": "reportUserActivity",
        "tags": [
          "Audit Reports"
        ],
        "description": "Ranked list of all users by total action count in a date range.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked user activity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserActivitySummary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/login/failed": {
      "post": {
        "summary": "Record failed login attempt",
        "operationId": "loginFailed",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "**Public endpoint \u2014 no JWT required.** Called when JWT validation fails for a known user. Triggers failed-login alert detection.",
        "security": [],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Failure event recorded"
          }
        }
      }
    },
    "/auth/session/end": {
      "post": {
        "summary": "Record logout event",
        "operationId": "sessionEnd",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "Called by the frontend on logout. Requires a valid JWT.",
        "responses": {
          "200": {
            "description": "Logout event recorded"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/session/start": {
      "post": {
        "summary": "Record login event",
        "operationId": "sessionStart",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "Called by the frontend after successful Keycloak authentication. Requires a valid JWT.",
        "responses": {
          "200": {
            "description": "Login event recorded"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/claims": {
      "get": {
        "summary": "List",
        "operationId": "list",
        "tags": [
          "Claims"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "post": {
        "summary": "Register",
        "operationId": "register",
        "tags": [
          "Claims"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/claims/search": {
      "get": {
        "summary": "Search claims",
        "operationId": "searchClaims",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching claims",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClaimSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/claims/{claimId}/comments": {
      "get": {
        "summary": "List",
        "operationId": "list",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "summary": "Add",
        "operationId": "add",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/claims/{claimId}/documents": {
      "get": {
        "summary": "List",
        "operationId": "list",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "summary": "Upload claim document (multipart)",
        "operationId": "upload",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "documentType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CLAIM_FORM",
                "POLICE_REPORT",
                "SURVEY_REPORT",
                "MEDICAL_REPORT",
                "PHOTOS",
                "REPAIR_ESTIMATE",
                "DISCHARGE_VOUCHER",
                "OTHER"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF/image/Word \u2014 max 10MB"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/claims/{claimId}/documents/{id}": {
      "get": {
        "summary": "Get claim document",
        "operationId": "getClaimDocument",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "summary": "Delete claim document",
        "operationId": "deleteClaimDocument",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/claims/{claimId}/documents/{id}/content": {
      "get": {
        "summary": "Download content",
        "operationId": "downloadContent",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/claims/{claimId}/expenses": {
      "get": {
        "summary": "List",
        "operationId": "list",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      },
      "post": {
        "summary": "Add",
        "operationId": "add",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/claims/{claimId}/expenses/{id}": {
      "get": {
        "summary": "Get claim expense",
        "operationId": "getClaimExpense",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim expense",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "delete": {
        "summary": "Cancel claim expense",
        "operationId": "cancelClaimExpense",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/claims/{claimId}/expenses/{id}/approve": {
      "post": {
        "summary": "Approve claim expense",
        "operationId": "approveClaimExpense",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expense approved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/claims/{claimId}/expenses/{id}/cancel": {
      "post": {
        "summary": "Cancel claim expense",
        "operationId": "cancelClaimExpenseAction",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "claimId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expense cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/claims/{id}": {
      "get": {
        "summary": "Get claim",
        "operationId": "getClaim",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "summary": "Update claim",
        "operationId": "updateClaim",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated claim",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "summary": "Update",
        "operationId": "update",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/claims/{id}/approve": {
      "post": {
        "summary": "Approve claim",
        "operationId": "approveClaim",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
[...]
