{
  "openapi": "3.0.1",
  "info": {
    "title": "CIA Internal API",
    "description": "Internal REST API for the Core Insurance Application (staff and system use)",
    "contact": {
      "name": "Nubeero Engineering",
      "email": "engineering@nubeero.com"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "2026.05.20"
  },
  "servers": [
    {
      "url": "https://api.cia.app",
      "description": "Production"
    },
    {
      "url": "http://localhost:8090",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Partner App Management",
      "description": "Internal: manage Insurtech partner app registrations"
    },
    {
      "name": "Audit Alerts",
      "description": "Real-time anomaly alerts — failed logins, bulk deletes, off-hours activity, large approvals"
    },
    {
      "name": "Reinsurance Allocations",
      "description": "Per-policy treaty allocation. Surplus: retain ≤ Retention Limit, cede to surplus up to Surplus Limit, excess tagged if beyond gross capacity. QS: split by fixed share %. XOL: retain first layer, cede above retention. State machine: AUTO_ALLOCATED → CONFIRMED → APPROVED, or CANCELLED. Allocation lines record per-participant ceded amount + commission."
    },
    {
      "name": "PAA — Onerous Contract Test (§47-49)",
      "description": "IFRS 17 PAA Slice 2.7 — cumulative-state target reconciliation. Posts loss-component increase (Dr 5150 / Cr 2130) or reversal JEs as needed. Naturally idempotent — re-runs with no underlying movement produce a no-op result."
    },
    {
      "name": "Trial Balance",
      "description": "Cumulative-since-inception trial balance at a given business date. Used by NAICOM's PrudentialReturnEngine (N03) and BalanceSheetEngine (N02), and by the Slice 1.9 reconciliation gate as the source-of-truth balance sheet aggregator."
    },
    {
      "name": "Audit Reports",
      "description": "Six pre-built compliance reports — user activity, module actions, approvals, data changes, login security, and ranked user summary"
    },
    {
      "name": "Reinsurance Treaties",
      "description": "Treaty setup — Surplus / Quota Share / XOL. State machine: DRAFT → ACTIVE → EXPIRED → CANCELLED. Treaty year = policy start date year (not policy creation year). Each treaty has a participant list (reinsurance companies with their share percentages); lead reinsurer drives offer/acceptance."
    },
    {
      "name": "Claim Expenses",
      "description": "Per-claim expenses (surveyor fees, repair costs, legal fees, etc). State machine: PENDING → APPROVED → (cascade to a CreditNote via CLAIM_EXPENSE_APPROVED event) or CANCELLED. The approval is what triggers GL impact via SubledgerPostingService."
    },
    {
      "name": "PAA — Period Close Orchestrator",
      "description": "IFRS 17 PAA Slice 2.5 orchestrator. Runs LRC + LIC engines for a period and returns the IFRS 17 §83/§84 Insurance Service Result alongside the engine outputs. Companion read endpoint recomputes §83/§84 from the current paa_lrc + paa_lic state without invoking engines."
    },
    {
      "name": "Claim Comments",
      "description": "Append-only comment feed on a claim. Comments are an aggregate of the parent Claim; deletion is not supported (audit-grade history)."
    },
    {
      "name": "IFRS 9 — §B5.5.39 Movement Analysis",
      "description": "Slice 3.7 disclosure relay. Composes investment roll-forward from V40 ifrs9_investment_movement_analysis SQL view + premium-receivable ECL aggregate from JE narrative on account 1340. Read-only; consumed by Phase 4 Ifrs9DisclosureEngine."
    },
    {
      "name": "PAA — Liability for Incurred Claims (LIC)",
      "description": "IFRS 17 PAA Slice 2.4 — claim roll-forward via SQL conditional-sum query. Posts paa_lic disclosure rows; v1 posts no JE (underlying GL already correct via SubledgerPostingService)."
    },
    {
      "name": "PAA — Liability for Remaining Coverage (LRC)",
      "description": "IFRS 17 PAA Slice 2.3 — straight-line daily premium recognition (Dr 2110 / Cr 4110 via JE gateway). Posts paa_lrc rows + JEs."
    },
    {
      "name": "Journal Entries",
      "description": "The Slice 1.4 GL gateway. Every JE in the system passes through JournalEntryService — subledger posting, IFRS 17 PAA engines, IFRS 9 measurement engines, NAICOM source data, manual posts. Idempotency triple: (source_module, source_event_type, source_reference)."
    },
    {
      "name": "IFRS 9 — Fair Value (§5.7)",
      "description": "Slice 3.4 fair-value remeasurement with classification-driven routing. FVPL → P&L (Dr 4250 / Cr 5330); FVOCI_DEBT → OCI reserve (Dr/Cr 3410); FVOCI_EQUITY → OCI reserve (Dr/Cr 3420). AC holdings refuse remeasurement. Idempotent via closing_fair_value IS NULL sentinel."
    },
    {
      "name": "Dashboard",
      "description": "Aggregated KPIs for the back-office home screen"
    },
    {
      "name": "Payments (Module 8)",
      "description": "Outbound payments against a credit note (claim DV, FAC outward, commission, etc.). Posting a payment subtracts from CN outstanding_amount; full settlement flips the CN to SETTLED. Reversal undoes the payment and posts a contra JE via SubledgerPostingService."
    },
    {
      "name": "Claims (Module 5)",
      "description": "Full claims lifecycle — registration → processing (reserves + surveyor + inspection) → submission → approval / rejection / withdrawal → DV generation → DV execution → settlement. CLAIM_APPROVED and CLAIM_SETTLED events drive SubledgerPostingService cascades (CreditNote + JE)."
    },
    {
      "name": "NAICOM Submissions",
      "description": "Monthly recap submissions to NAICOM (N01–N08). Period must be HARD_CLOSED before generation. Submissions follow a DRAFT → SUBMITTED → ACKNOWLEDGED → ARCHIVED state machine with a RETRACTED branch from SUBMITTED. All state transitions append-only via naicom_submission_event (Type-2 SCD)."
    },
    {
      "name": "PAA — Discount Unwind (§87-92)",
      "description": "IFRS 17 PAA Slice 2.6 — discount unwind on paa_lic rows. P&L vs OCI routing per paa_config.oci_election (§88(b)). Posts Dr 5520 / Cr 2140 (P&L) or Dr 3430 / Cr 2140 (OCI). No-op for tenants where paa_config.discount_lic = FALSE."
    },
    {
      "name": "Reports & Analytics",
      "description": "55 pre-built reports, custom report builder, CSV/PDF export, pin management, access control"
    },
    {
      "name": "PAA — §103 Movement Analysis",
      "description": "IFRS 17 §103 disclosure relay (Slice 2.8). Reads from V38 paa_movement_analysis SQL view — LRC totals, LIC totals, per-(portfolio × cohort × onerousness) breakdown. Read-only; consumed by Phase 4 Ifrs17DisclosureEngine."
    },
    {
      "name": "Period Locks",
      "description": "Period-lock lifecycle: SOFT_CLOSED (with 5-business-day grace window) → HARD_CLOSED → REOPENED. Hibernate PeriodLockInterceptor enforces locks at every write to LockableByPeriod entities — see Slice 1.7. Locked-period writes throw HTTP 423 LOCKED with structured meta."
    },
    {
      "name": "Audit Configuration",
      "description": "Alert thresholds and data retention settings — System Admin only for writes"
    },
    {
      "name": "IFRS 9 — Premium Receivable ECL (§5.5.15)",
      "description": "Slice 3.6 simplified-approach engine. Admin supplies aging-bucket provision matrix [(label, outstandingAmount, defaultRate)]; engine computes lifetime ECL = Σ(outstanding × rate) and posts the delta vs cumulative prior allowance. Posts Dr 5350 PREMIUM_ECL_EXPENSE / Cr 1340 PREMIUM_ECL_ALLOWANCE (increase) or reverse (release). Provision matrix is embedded in JE narrative as §B5.5.36 disclosure substrate."
    },
    {
      "name": "Chart of Accounts",
      "description": "Read-only access to the per-tenant Chart of Accounts. The COA is seeded by Flyway (V32 — 129 rows, 3-level hierarchy, IFRS-17 + IFRS-9 + NAICOM role tags). CRUD is deferred until the post-Phase-7 tenant-customisation epic."
    },
    {
      "name": "IFRS 9 — Investment ECL (§5.5)",
      "description": "Slice 3.5 Expected Credit Loss with three-stage routing. AC holdings: ECL reduces asset directly (Dr 5310 ECL_EXPENSE_AC / Cr 1140 ECL_AC_ALLOWANCE). FVOCI_DEBT: ECL routes to OCI reserve (Dr 5310 / Cr 3410) while carrying value stays at fair value — §5.7.10A rule. FVPL: no ECL."
    },
    {
      "name": "Claim Documents",
      "description": "Document attachments on a claim. Files are uploaded multipart, streamed via DocumentStorageService, and tagged with ClaimDocumentType (e.g. INCIDENT_REPORT, POLICE_REPORT, REPAIR_QUOTE). Used by the required-documents tracker on the claim summary."
    },
    {
      "name": "Facultative Reinsurance Covers",
      "description": "Facultative (FAC) outward covers — for risks that exceed treaty gross capacity or aren't covered by treaty. State machine: DRAFT → CONFIRMED → CANCELLED. Confirmation triggers FAC_PREMIUM_CEDED event → SubledgerPostingService cascades a CreditNote (payable to reinsurer) + JE."
    },
    {
      "name": "IFRS 9 — Amortised Cost (§5.4.1)",
      "description": "Slice 3.3 effective interest method. Posts Dr 1250 INVESTMENT_AT_AMORTISED_COST / Cr 4210 INTEREST_INCOME_AC for accruals + additional Dr 1230 / Cr 1250 net-down lines on coupon receipts. Idempotency triple: (IFRS9_AMORTISED_COST, INTEREST_ACCRUAL, holdingId+periodId)."
    },
    {
      "name": "Audit Logs",
      "description": "Search and view the full system audit trail across all modules"
    },
    {
      "name": "Policies (Module 3)",
      "description": "Policy lifecycle — DRAFT → PENDING_APPROVAL → ACTIVE → CANCELLED / EXPIRED. Policies can be bound from an approved quote or created directly. Approval fires POLICY_APPROVED event → SubledgerPostingService → DebitNote + JE; NAICOM/NIID upload child workflows kick off asynchronously."
    },
    {
      "name": "Credit Notes (Module 8)",
      "description": "Payables-side documents. Generated automatically when a claim DV is approved, a FAC outward is confirmed, or commission/RI commission becomes payable (SubledgerPostingService listens for ClaimApproved / FacPremiumCeded events). State machine: ISSUED → PARTIALLY_PAID → SETTLED → CANCELLED."
    },
    {
      "name": "IFRS 9 — Investment Holdings",
      "description": "Slice 3.2 — register investment holdings under §4.1 classification (SPPI test + business model → FVPL / FVOCI_DEBT / FVOCI_EQUITY / AMORTISED_COST). Reclassification follows §B4.1.26 (rare, audited via Type-2 SCD investment_classification_history)."
    },
    {
      "name": "Debit Notes (Module 8)",
      "description": "Receivables-side documents. Generated automatically when a policy or endorsement is approved (SubledgerPostingService listens for PolicyApproved / EndorsementApproved events). State machine: ISSUED → PARTIALLY_PAID → SETTLED → CANCELLED / VOID."
    },
    {
      "name": "GL Backfill (Admin)",
      "description": "Retroactive journal-entry backfill (Slice 1.8). One-time mechanism for moving from \"no GL history\" to \"all GL history reconstructed\" — walks every relevant sub-ledger source table and posts the JEs SubledgerPostingService would have written. Idempotent via the JE-gateway triple. See operations/period-end-closures-backfill.md runbook."
    },
    {
      "name": "Login & Session Logs",
      "description": "Login, logout, and failed authentication event recording and retrieval"
    },
    {
      "name": "Receipts (Module 8)",
      "description": "Customer receipts against a debit note. Posting a receipt subtracts from outstanding_amount; full settlement flips the debit note status to SETTLED. Reversal undoes the payment (re-opens the DN) and posts a contra entry via SubledgerPostingService."
    },
    {
      "name": "Audit Export",
      "description": "Export audit logs as CSV with optional filters"
    },
    {
      "name": "Fiscal Years",
      "description": "Fiscal-year lifecycle and the period tree under each year. State machine: DRAFT → ACTIVE → CLOSED. Creating a fiscal year auto-generates DAY / MONTH / QUARTER / HALF_YEAR / YEAR periods via FiscalYearService — see Slice 1.6."
    }
  ],
  "paths": {
    "/api/v1/setup/vehicle-types/{id}": {
      "get": {
        "tags": [
          "vehicle-type-controller"
        ],
        "operationId": "get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVehicleTypeResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "vehicle-type-controller"
        ],
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVehicleTypeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "vehicle-type-controller"
        ],
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/vehicle-makes/{makeId}/models/{id}": {
      "get": {
        "tags": [
          "vehicle-model-controller"
        ],
        "operationId": "get_1",
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVehicleModelResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "vehicle-model-controller"
        ],
        "operationId": "update_1",
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVehicleModelResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "vehicle-model-controller"
        ],
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "makeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/vehicle-makes/{id}": {
      "get": {
        "tags": [
          "vehicle-make-controller"
        ],
        "operationId": "get_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVehicleMakeResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "vehicle-make-controller"
        ],
        "operationId": "update_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleMakeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVehicleMakeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "vehicle-make-controller"
        ],
        "operationId": "delete_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/surveyors/{id}": {
      "get": {
        "tags": [
          "surveyor-controller"
        ],
        "operationId": "get_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSurveyorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "surveyor-controller"
        ],
        "operationId": "update_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyorRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSurveyorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "surveyor-controller"
        ],
        "operationId": "delete_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/sbus/{id}": {
      "get": {
        "tags": [
          "sbu-controller"
        ],
        "operationId": "get_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSbuResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "sbu-controller"
        ],
        "operationId": "update_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SbuRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSbuResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sbu-controller"
        ],
        "operationId": "delete_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/relationship-managers/{id}": {
      "get": {
        "tags": [
          "relationship-manager-controller"
        ],
        "operationId": "get_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRelationshipManagerResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "relationship-manager-controller"
        ],
        "operationId": "update_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipManagerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseRelationshipManagerResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "relationship-manager-controller"
        ],
        "operationId": "delete_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/reinsurance-companies/{id}": {
      "get": {
        "tags": [
          "reinsurance-company-controller"
        ],
        "operationId": "get_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReinsuranceCompanyResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "reinsurance-company-controller"
        ],
        "operationId": "update_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReinsuranceCompanyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReinsuranceCompanyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "reinsurance-company-controller"
        ],
        "operationId": "delete_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/quote-loading-types/{id}": {
      "put": {
        "tags": [
          "quote-config-controller"
        ],
        "operationId": "updateLoadingType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustmentTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAdjustmentTypeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "quote-config-controller"
        ],
        "operationId": "deleteLoadingType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/quote-discount-types/{id}": {
      "put": {
        "tags": [
          "quote-config-controller"
        ],
        "operationId": "updateDiscountType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdjustmentTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAdjustmentTypeResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "quote-config-controller"
        ],
        "operationId": "deleteDiscountType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/quote-config": {
      "get": {
        "tags": [
          "quote-config-controller"
        ],
        "operationId": "getConfig",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQuoteConfigResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "quote-config-controller"
        ],
        "operationId": "updateConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQuoteConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{productId}/survey-thresholds/{id}": {
      "get": {
        "tags": [
          "survey-threshold-controller"
        ],
        "operationId": "get_7",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSurveyThresholdResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "survey-threshold-controller"
        ],
        "operationId": "update_7",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyThresholdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseSurveyThresholdResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "survey-threshold-controller"
        ],
        "operationId": "delete_7",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{productId}/policy-specification": {
      "get": {
        "tags": [
          "policy-specification-controller"
        ],
        "operationId": "get_8",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePolicySpecificationResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "policy-specification-controller"
        ],
        "operationId": "upsert",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicySpecificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePolicySpecificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{productId}/policy-number-format": {
      "get": {
        "tags": [
          "policy-number-format-controller"
        ],
        "operationId": "get_9",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePolicyNumberFormatResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "policy-number-format-controller"
        ],
        "operationId": "upsert_1",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyNumberFormatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePolicyNumberFormatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{productId}/commission-setups/{id}": {
      "get": {
        "tags": [
          "commission-setup-controller"
        ],
        "operationId": "get_10",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCommissionSetupResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "commission-setup-controller"
        ],
        "operationId": "update_8",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommissionSetupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCommissionSetupResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "commission-setup-controller"
        ],
        "operationId": "delete_8",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{productId}/claim-notification-timeline": {
      "get": {
        "tags": [
          "claim-notification-timeline-controller"
        ],
        "operationId": "get_11",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClaimNotificationTimelineResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "claim-notification-timeline-controller"
        ],
        "operationId": "upsert_2",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimNotificationTimelineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClaimNotificationTimelineResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{productId}/claim-document-requirements/{id}": {
      "get": {
        "tags": [
          "claim-document-requirement-controller"
        ],
        "operationId": "get_12",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClaimDocumentRequirementResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "claim-document-requirement-controller"
        ],
        "operationId": "update_9",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimDocumentRequirementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClaimDocumentRequirementResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "claim-document-requirement-controller"
        ],
        "operationId": "delete_9",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/products/{id}": {
      "get": {
        "tags": [
          "product-controller"
        ],
        "operationId": "get_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProductResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "product-controller"
        ],
        "operationId": "update_10",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseProductResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "product-controller"
        ],
        "operationId": "delete_10",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/nature-of-loss/{id}": {
      "get": {
        "tags": [
          "nature-of-loss-controller"
        ],
        "operationId": "get_14",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNatureOfLossResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "nature-of-loss-controller"
        ],
        "operationId": "update_11",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NatureOfLossRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseNatureOfLossResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "nature-of-loss-controller"
        ],
        "operationId": "delete_11",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/insurance-companies/{id}": {
      "get": {
        "tags": [
          "insurance-company-controller"
        ],
        "operationId": "get_15",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseInsuranceCompanyResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "insurance-company-controller"
        ],
        "operationId": "update_12",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InsuranceCompanyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseInsuranceCompanyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "insurance-company-controller"
        ],
        "operationId": "delete_12",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/customer-number-format": {
      "get": {
        "tags": [
          "customer-number-format-controller"
        ],
        "operationId": "get_16",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerNumberFormatResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "customer-number-format-controller"
        ],
        "operationId": "upsert_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerNumberFormatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerNumberFormatResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/currencies/{id}": {
      "get": {
        "tags": [
          "currency-controller"
        ],
        "operationId": "get_17",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCurrencyResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "currency-controller"
        ],
        "operationId": "update_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCurrencyResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "currency-controller"
        ],
        "operationId": "delete_13",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/company-settings": {
      "get": {
        "tags": [
          "company-settings-controller"
        ],
        "operationId": "get_18",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCompanySettingsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "company-settings-controller"
        ],
        "operationId": "upsert_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCompanySettingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/classes-of-business/{id}": {
      "get": {
        "tags": [
          "class-of-business-controller"
        ],
        "operationId": "get_19",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClassOfBusinessResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "class-of-business-controller"
        ],
        "operationId": "update_14",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClassOfBusinessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClassOfBusinessResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "class-of-business-controller"
        ],
        "operationId": "delete_14",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/claim-reserve-categories/{id}": {
      "get": {
        "tags": [
          "claim-reserve-category-controller"
        ],
        "operationId": "get_20",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClaimReserveCategoryResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "claim-reserve-category-controller"
        ],
        "operationId": "update_15",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimReserveCategoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseClaimReserveCategoryResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "claim-reserve-category-controller"
        ],
        "operationId": "delete_15",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/cause-of-loss/{id}": {
      "get": {
        "tags": [
          "cause-of-loss-controller"
        ],
        "operationId": "get_21",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCauseOfLossResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "cause-of-loss-controller"
        ],
        "operationId": "update_16",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CauseOfLossRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCauseOfLossResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "cause-of-loss-controller"
        ],
        "operationId": "delete_16",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/brokers/{id}": {
      "get": {
        "tags": [
          "broker-controller"
        ],
        "operationId": "get_22",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBrokerResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "broker-controller"
        ],
        "operationId": "update_17",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BrokerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBrokerResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "broker-controller"
        ],
        "operationId": "delete_17",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/branches/{id}": {
      "get": {
        "tags": [
          "branch-controller"
        ],
        "operationId": "get_23",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBranchResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "branch-controller"
        ],
        "operationId": "update_18",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BranchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBranchResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "branch-controller"
        ],
        "operationId": "delete_18",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/banks/{id}": {
      "get": {
        "tags": [
          "bank-controller"
        ],
        "operationId": "get_24",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBankResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "bank-controller"
        ],
        "operationId": "update_19",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseBankResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "bank-controller"
        ],
        "operationId": "delete_19",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/audit-config": {
      "get": {
        "tags": [
          "Audit Configuration"
        ],
        "summary": "Get audit alert configuration",
        "description": "Returns the current alert thresholds and retention policy for this tenant.",
        "operationId": "get_25",
        "responses": {
          "200": {
            "description": "Current config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuditAlertConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuditAlertConfigResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Audit Configuration"
        ],
        "summary": "Update audit alert configuration",
        "description": "Updates alert thresholds (failed logins, bulk deletes, large approval amount, business hours) and retention period. Requires SETUP_UPDATE role (System Admin only).",
        "operationId": "update_20",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditAlertConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuditAlertConfigResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — requires SETUP_UPDATE",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuditAlertConfigResponse"
                }
              }
            }
          },
          "200": {
            "description": "Config updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAuditAlertConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/approval-groups/{id}": {
      "get": {
        "tags": [
          "approval-group-controller"
        ],
        "operationId": "get_26",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApprovalGroupResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "approval-group-controller"
        ],
        "operationId": "update_21",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseApprovalGroupResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "approval-group-controller"
        ],
        "operationId": "delete_20",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/access-groups/{id}": {
      "get": {
        "tags": [
          "access-group-controller"
        ],
        "operationId": "get_27",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccessGroupResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "access-group-controller"
        ],
        "operationId": "update_22",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseAccessGroupResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "access-group-controller"
        ],
        "operationId": "delete_21",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/definitions/{id}": {
      "get": {
        "tags": [
          "Reports & Analytics"
        ],
        "summary": "Get a single report definition",
        "operationId": "getDefinition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDefinitionDto"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDefinitionDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDefinitionDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Reports & Analytics"
        ],
        "summary": "Update a custom report definition",
        "operationId": "updateDefinition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDefinitionDto"
                }
              }
            }
          },
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDefinitionDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportDefinitionDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Reports & Analytics"
        ],
        "summary": "Delete a custom report definition",
        "operationId": "deleteDefinition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/reports/access-policies": {
      "get": {
        "tags": [
          "Reports & Analytics"
        ],
        "summary": "List all access policies (System Admin only)",
        "operationId": "listAccessPolicies",
        "parameters": [
          {
            "name": "accessGroupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access policies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListReportAccessPolicy"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseListReportAccessPolicy"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Reports & Analytics"
        ],
        "summary": "Upsert a category- or report-level access policy",
        "operationId": "upsertAccessPolicy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessPolicyUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportAccessPolicy"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportAccessPolicy"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseReportAccessPolicy"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/quotes/{id}": {
      "get": {
        "tags": [
          "quote-controller"
        ],
        "operationId": "get_31",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQuoteResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "quote-controller"
        ],
        "operationId": "update_23",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseQuoteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/policies/{id}": {
      "get": {
        "tags": [
          "Policies (Module 3)"
        ],
        "summary": "Get policy detail",
        "description": "Returns the full policy including risks, coinsurance participants, premium breakdown, document state, NAICOM UID, NIID reference.",
        "operationId": "get_32",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden — caller lacks UNDERWRITING_VIEW"
          },
          "200": {
            "description": "Policy found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "404": {
            "description": "Policy not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "put": {
        "tags": [
          "Policies (Module 3)"
        ],
        "summary": "Update a DRAFT policy",
        "description": "Allows updates to the policy header (dates, premium, payment terms) while the policy is in DRAFT. Submission locks the policy from this endpoint.",
        "operationId": "update_24",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden — caller lacks UNDERWRITING_UPDATE"
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Policy not found"
          },
          "200": {
            "description": "Policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Policy not in DRAFT state"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/policies/{id}/risks/{riskId}": {
      "put": {
        "tags": [
          "Policies (Module 3)"
        ],
        "summary": "Update a single risk on the policy schedule",
        "description": "Only allowed while policy is DRAFT. Updates description, sum insured, rate, motor reg no (for motor classes), or any product-specific fields.",
        "operationId": "updateRisk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "riskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRiskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden — caller lacks UNDERWRITING_UPDATE"
          },
          "400": {
            "description": "Validation error"
          },
          "200": {
            "description": "Risk updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Policy not in DRAFT state"
          },
          "404": {
            "description": "Policy or risk not found"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Policies (Module 3)"
        ],
        "summary": "Remove a risk from the schedule",
        "description": "Hard-deletes the risk row. Only allowed while policy is DRAFT — the risk schedule is locked at submission.",
        "operationId": "deleteRisk",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "riskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Forbidden — caller lacks UNDERWRITING_UPDATE"
          },
          "200": {
            "description": "Risk removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Policy not in DRAFT state"
          },
          "404": {
            "description": "Policy or risk not found"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/policies/{id}/coinsurance": {
      "put": {
        "tags": [
          "Policies (Module 3)"
        ],
        "summary": "Replace the coinsurance participant list",
        "description": "Sets the full list of coinsurance participants on the policy. Participant shares must sum to 100%. Only valid for Direct-with-Coinsurance and Inward-Coinsurance business types. Policy must be DRAFT.",
        "operationId": "updateCoinsurance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PolicyCoinsuranceParticipantRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden — caller lacks UNDERWRITING_UPDATE"
          },
          "400": {
            "description": "Shares do not sum to 100%, or business type does not support coinsurance"
          },
          "404": {
            "description": "Policy not found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "Coinsurance updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyResponse"
                }
              }
            }
          },
          "409": {
            "description": "Policy not in DRAFT state"
          }
        },
        "security": [
          {
            "bearer-jwt": []
          }
        ]
      }
    },
    "/api/v1/customers/{id}": {
      "get": {
        "tags": [
          "customer-controller"
        ],
        "operationId": "get_45",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "customer-controller"
        ],
        "operationId": "update_25",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CustomerUpdateRequest"
            }
          },
          {
            "name": "multipartRequest",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponseCustomerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/setup/vehicle-types": {
      "get": {
        "tags": [
          "vehicle-type-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponsePageVehicleTypeResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "vehicle-type-controller"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleTypeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
[...]
