{
  "openapi": "3.1.0",
  "info": {
    "title": "CIA Internal API",
    "description": "Internal REST API for the Core Insurance Application \u2014 staff, System Auditors, and system-to-system use. Authentication via Keycloak JWT (Bearer token). All endpoints require `isAuthenticated()`; fine-grained access uses module-level roles.",
    "version": "2.0.0",
    "contact": {
      "name": "Nubeero Engineering",
      "email": "engineering@nubeero.com"
    }
  },
  "servers": [
    {
      "url": "https://api.cia.app/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:8090/api/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerJwt": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Keycloak RS256 JWT. Obtain via Keycloak login at your tenant realm."
      }
    },
    "schemas": {
      "ApiMeta": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "example": 142
          },
          "page": {
            "type": "integer",
            "example": 0
          },
          "size": {
            "type": "integer",
            "example": 20
          }
        }
      },
      "AuditLogResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": "string",
            "example": "Policy"
          },
          "entityId": {
            "type": "string",
            "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
          },
          "action": {
            "type": "string",
            "enum": [
              "CREATE",
              "UPDATE",
              "DELETE",
              "APPROVE",
              "REJECT",
              "SUBMIT",
              "SEND",
              "CANCEL",
              "REVERSE",
              "EXECUTE"
            ]
          },
          "userId": {
            "type": "string",
            "example": "auth0|abc123"
          },
          "userName": {
            "type": "string",
            "example": "chidi.okonkwo"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "ipAddress": {
            "type": "string",
            "example": "197.210.64.1"
          },
          "oldValue": {
            "type": "object",
            "description": "JSON snapshot before change"
          },
          "newValue": {
            "type": "object",
            "description": "JSON snapshot after change"
          },
          "approvalAmount": {
            "type": "number",
            "format": "double",
            "example": 75000000.0
          }
        }
      },
      "LoginAuditLogResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "LOGIN",
              "LOGOUT",
              "LOGIN_FAILED",
              "PASSWORD_RESET",
              "ACCOUNT_LOCKED"
            ]
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "ipAddress": {
            "type": "string"
          },
          "userAgent": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "success": {
            "type": "boolean"
          },
          "failureReason": {
            "type": "string"
          }
        }
      },
      "AuditAlertResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "alertType": {
            "type": "string",
            "enum": [
              "FAILED_LOGIN",
              "BULK_DELETE",
              "OFF_HOURS_ACTIVITY",
              "LARGE_FINANCIAL_APPROVAL"
            ]
          },
          "severity": {
            "type": "string",
            "example": "WARNING"
          },
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "triggeredAt": {
            "type": "string",
            "format": "date-time"
          },
          "acknowledged": {
            "type": "boolean"
          },
          "acknowledgedBy": {
            "type": "string"
          },
          "acknowledgedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuditAlertConfigResponse": {
        "type": "object",
        "properties": {
          "businessHoursStart": {
            "type": "string",
            "example": "08:00"
          },
          "businessHoursEnd": {
            "type": "string",
            "example": "18:00"
          },
          "businessDays": {
            "type": "string",
            "example": "MON,TUE,WED,THU,FRI"
          },
          "largeApprovalThreshold": {
            "type": "number",
            "example": 50000000
          },
          "maxFailedLoginAttempts": {
            "type": "integer",
            "example": 3
          },
          "bulkDeleteCount": {
            "type": "integer",
            "example": 5
          },
          "bulkDeleteWindowMinutes": {
            "type": "integer",
            "example": 5
          },
          "retentionYears": {
            "type": "integer",
            "example": 7
          }
        }
      },
      "AuditAlertConfigRequest": {
        "type": "object",
        "properties": {
          "businessHoursStart": {
            "type": "string",
            "example": "08:00"
          },
          "businessHoursEnd": {
            "type": "string",
            "example": "18:00"
          },
          "businessDays": {
            "type": "string",
            "example": "MON,TUE,WED,THU,FRI"
          },
          "largeApprovalThreshold": {
            "type": "number",
            "example": 50000000
          },
          "maxFailedLoginAttempts": {
            "type": "integer",
            "example": 3
          },
          "bulkDeleteCount": {
            "type": "integer",
            "example": 5
          },
          "bulkDeleteWindowMinutes": {
            "type": "integer",
            "example": 5
          },
          "retentionYears": {
            "type": "integer",
            "example": 7
          }
        }
      },
      "UserActivitySummary": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string"
          },
          "userName": {
            "type": "string"
          },
          "actionCount": {
            "type": "integer",
            "format": "int64",
            "example": 284
          }
        }
      },
      "DashboardStats": {
        "type": "object",
        "properties": {
          "activePolicies": {
            "type": "integer",
            "example": 142
          },
          "openClaims": {
            "type": "integer",
            "example": 23
          },
          "pendingApprovals": {
            "type": "integer",
            "example": 7
          },
          "premiumsMtd": {
            "type": "number",
            "format": "double",
            "example": 45600000.0
          },
          "claimsReserveTotal": {
            "type": "number",
            "format": "double",
            "example": 12300000.0
          },
          "renewalsDue30Days": {
            "type": "integer",
            "example": 18
          },
          "outstandingPremium": {
            "type": "number",
            "format": "double",
            "example": 8750000.0
          },
          "riUtilisationPct": {
            "type": "number",
            "format": "double",
            "example": 67.3
          }
        }
      },
      "ApprovalQueue": {
        "type": "object",
        "properties": {
          "policies": {
            "type": "integer",
            "example": 3
          },
          "quotes": {
            "type": "integer",
            "example": 2
          },
          "endorsements": {
            "type": "integer",
            "example": 1
          },
          "claims": {
            "type": "integer",
            "example": 0
          },
          "receipts": {
            "type": "integer",
            "example": 1
          },
          "payments": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "LossRatioMonth": {
        "type": "object",
        "properties": {
          "month": {
            "type": "string",
            "example": "Apr 26"
          },
          "premium": {
            "type": "number",
            "format": "double",
            "example": 15000000.0
          },
          "claims": {
            "type": "number",
            "format": "double",
            "example": 9500000.0
          },
          "lossRatioPct": {
            "type": "number",
            "format": "double",
            "example": 63.3
          }
        }
      },
      "RenewalDay": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-04-26"
          },
          "label": {
            "type": "string",
            "example": "Sun"
          },
          "count": {
            "type": "integer",
            "example": 4
          }
        }
      },
      "RecentActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "entityType": {
            "type": "string",
            "example": "Policy"
          },
          "entityId": {
            "type": "string",
            "example": "POL-2026-00041"
          },
          "action": {
            "type": "string",
            "example": "APPROVE"
          },
          "userName": {
            "type": "string",
            "example": "chidi.okonkwo"
          },
          "timeAgo": {
            "type": "string",
            "example": "2m ago"
          },
          "statusGroup": {
            "type": "string",
            "enum": [
              "active",
              "pending",
              "rejected"
            ]
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "Policy",
              "Claim",
              "Customer",
              "Quote"
            ]
          },
          "label": {
            "type": "string",
            "example": "POL-2026-00041"
          },
          "sub": {
            "type": "string",
            "example": "Active"
          },
          "path": {
            "type": "string",
            "example": "/policies/3fa85f64-5717-4562-b3fc-2c963f66afa6"
          }
        }
      },
      "CustomerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customerType": {
            "type": "string",
            "enum": [
              "INDIVIDUAL",
              "CORPORATE"
            ]
          },
          "customerStatus": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "BLACKLISTED",
              "INACTIVE"
            ]
          },
          "kycStatus": {
            "type": "string",
            "enum": [
              "PENDING",
              "IN_PROGRESS",
              "PASSED",
              "FAILED"
            ]
          },
          "displayName": {
            "type": "string",
            "example": "Chioma Okafor"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string",
            "example": "+234 803 000 0000"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "customerType": {
            "type": "string",
            "enum": [
              "INDIVIDUAL",
              "CORPORATE"
            ]
          },
          "customerStatus": {
            "type": "string"
          },
          "kycStatus": {
            "type": "string"
          },
          "kycProviderRef": {
            "type": "string"
          },
          "kycFailureReason": {
            "type": "string"
          },
          "kycVerifiedAt": {
            "type": "string",
            "format": "date-time"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "idType": {
            "type": "string",
            "enum": [
              "NIN",
              "VOTERS_CARD",
              "DRIVERS_LICENSE",
              "PASSPORT"
            ]
          },
          "idNumber": {
            "type": "string"
          },
          "idDocumentUrl": {
            "type": "string",
            "description": "MinIO/S3 path to uploaded ID document"
          },
          "idExpiryDate": {
            "type": "string",
            "format": "date",
            "description": "Required for Driver's Licence and Passport; must not be expired at onboarding"
          },
          "companyName": {
            "type": "string"
          },
          "rcNumber": {
            "type": "string"
          },
          "cacCertificateUrl": {
            "type": "string",
            "description": "MinIO/S3 path to uploaded CAC certificate"
          },
          "cacIssuedDate": {
            "type": "string",
            "format": "date"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "directors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDirector"
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerDocument"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerDirector": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "idType": {
            "type": "string"
          },
          "idNumber": {
            "type": "string"
          },
          "idDocumentUrl": {
            "type": "string"
          },
          "idExpiryDate": {
            "type": "string",
            "format": "date"
          },
          "kycStatus": {
            "type": "string"
          },
          "kycFailureReason": {
            "type": "string"
          }
        }
      },
      "CustomerDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "documentType": {
            "type": "string"
          },
          "documentName": {
            "type": "string"
          },
          "documentPath": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "fileSizeBytes": {
            "type": "integer"
          },
          "uploadedBy": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReportDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Loss Ratio Report"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "UNDERWRITING",
              "CLAIMS",
              "FINANCE",
              "REINSURANCE",
              "CUSTOMER",
              "REGULATORY"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "SYSTEM",
              "CUSTOM"
            ],
            "description": "SYSTEM reports are immutable; clone into CUSTOM to modify"
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "POLICIES",
              "CLAIMS",
              "FINANCE",
              "REINSURANCE",
              "CUSTOMERS",
              "ENDORSEMENTS"
            ]
          },
          "config": {
            "type": "object",
            "description": "ReportConfig JSONB: {fields, filters, groupBy, sortBy, sortDir, chart}"
          },
          "pinnable": {
            "type": "boolean"
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReportResult": {
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                },
                "computed": {
                  "type": "boolean"
                }
              }
            }
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "totalRows": {
            "type": "integer"
          }
        }
      },
      "ReportAccessPolicy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accessGroupId": {
            "type": "string",
            "format": "uuid"
          },
          "category": {
            "type": "string",
            "nullable": true,
            "description": "Null for report-level policies"
          },
          "report": {
            "$ref": "#/components/schemas/ReportDefinition",
            "nullable": true
          },
          "canView": {
            "type": "boolean"
          },
          "canExportCsv": {
            "type": "boolean"
          },
          "canExportPdf": {
            "type": "boolean"
          }
        }
      },
      "ClaimSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "claimNumber": {
            "type": "string",
            "example": "CLM-2026-00018"
          },
          "status": {
            "type": "string"
          },
          "reserveAmount": {
            "type": "number"
          },
          "totalPaid": {
            "type": "number"
          },
          "policyNumber": {
            "type": "string"
          },
          "customerName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EndorsementSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "endorsementNumber": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "RENEWAL",
              "EXTENSION",
              "CANCELLATION",
              "REVERSAL",
              "REDUCTION",
              "CHANGE",
              "INCREASE_SI",
              "DECREASE_SI",
              "ADD_ITEMS",
              "DELETE_ITEMS"
            ]
          },
          "status": {
            "type": "string"
          },
          "endorsementPremium": {
            "type": "number"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "DebitNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "debitNoteNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "OUTSTANDING",
              "PARTIALLY_PAID",
              "PAID",
              "REVERSED"
            ]
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CreditNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "creditNoteNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "OUTSTANDING",
              "PAID",
              "CANCELLED"
            ]
          },
          "type": {
            "type": "string"
          },
          "beneficiaryName": {
            "type": "string"
          }
        }
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "receiptNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          },
          "paymentDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "paymentNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "paymentMethod": {
            "type": "string"
          }
        }
      },
      "PolicySummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyNumber": {
            "type": "string",
            "example": "POL-2026-00041"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING_APPROVAL",
              "ACTIVE",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "businessType": {
            "type": "string"
          },
          "totalPremium": {
            "type": "number"
          },
          "policyStartDate": {
            "type": "string",
            "format": "date"
          },
          "policyEndDate": {
            "type": "string",
            "format": "date"
          },
          "customerName": {
            "type": "string"
          },
          "className": {
            "type": "string"
          }
        }
      },
      "QuoteSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "quoteNumber": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PENDING_APPROVAL",
              "APPROVED",
              "BOUND",
              "LAPSED",
              "REJECTED"
            ]
          },
          "totalPremium": {
            "type": "number"
          },
          "customerName": {
            "type": "string"
          },
          "className": {
            "type": "string"
          },
          "expiryDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "RiAllocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "treatyId": {
            "type": "string",
            "format": "uuid"
          },
          "treatyName": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "AUTO_ALLOCATED",
              "CONFIRMED",
              "APPROVED",
              "CANCELLED"
            ]
          },
          "retainedAmount": {
            "type": "number"
          },
          "cedingAmount": {
            "type": "number"
          }
        }
      },
      "RiFacCover": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "reinsurerId": {
            "type": "string",
            "format": "uuid"
          },
          "sharePercent": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "enum": [
              "OUTWARD",
              "INWARD"
            ]
          },
          "status": {
            "type": "string"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "RiTreaty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "SURPLUS",
              "QUOTA_SHARE",
              "XOL"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "retentionLimit": {
            "type": "number"
          },
          "surplusCapacity": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "SetupEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PartnerApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "clientId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE",
              "SUSPENDED"
            ]
          },
          "allowedScopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "rateLimitTier": {
            "type": "string"
          }
        }
      },
      "CustomerNumberFormat": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "prefix": {
            "type": "string",
            "example": "CUST"
          },
          "includeYear": {
            "type": "boolean"
          },
          "includeType": {
            "type": "boolean"
          },
          "sequenceLength": {
            "type": "integer",
            "example": 8
          },
          "lastSequence": {
            "type": "integer",
            "format": "int64"
          },
          "lastSequenceIndividual": {
            "type": "integer",
            "format": "int64"
          },
          "lastSequenceCorporate": {
            "type": "integer",
            "format": "int64"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Audit Logs",
      "description": "Search and view the full system audit trail across all modules"
    },
    {
      "name": "Login & Session Logs",
      "description": "Login, logout, and failed authentication event recording and retrieval"
    },
    {
      "name": "Audit Alerts",
      "description": "Real-time anomaly alerts \u2014 failed logins, bulk deletes, off-hours activity, large approvals"
    },
    {
      "name": "Audit Configuration",
      "description": "Alert thresholds and data retention settings (System Admin only for writes)"
    },
    {
      "name": "Audit Export",
      "description": "Export audit logs as CSV"
    },
    {
      "name": "Audit Reports",
      "description": "Six pre-built compliance reports"
    }
  ],
  "paths": {
    "/audit/logs": {
      "get": {
        "summary": "Search audit logs",
        "operationId": "searchAuditLogs",
        "tags": [
          "Audit Logs"
        ],
        "description": "Paginated, filterable audit trail. Filter by entityType, entityId, userId, action, or date range.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "Policy"
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "CREATE",
                "UPDATE",
                "DELETE",
                "APPROVE",
                "REJECT",
                "SUBMIT",
                "SEND",
                "CANCEL",
                "REVERSE",
                "EXECUTE"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit log entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role \u2014 requires AUDIT_VIEW or SETUP_UPDATE"
          }
        }
      }
    },
    "/audit/login-logs": {
      "get": {
        "summary": "List login & session logs",
        "operationId": "listLoginLogs",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "Filterable by userId or date range. Requires AUDIT_VIEW or SETUP_UPDATE role.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated login log entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginAuditLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/auth/session/start": {
      "post": {
        "summary": "Record login event",
        "operationId": "sessionStart",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "Called by the frontend after successful Keycloak authentication. Requires a valid JWT.",
        "responses": {
          "200": {
            "description": "Login event recorded"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/session/end": {
      "post": {
        "summary": "Record logout event",
        "operationId": "sessionEnd",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "Called by the frontend on logout. Requires a valid JWT.",
        "responses": {
          "200": {
            "description": "Logout event recorded"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/auth/login/failed": {
      "post": {
        "summary": "Record failed login attempt",
        "operationId": "loginFailed",
        "tags": [
          "Login & Session Logs"
        ],
        "description": "**Public endpoint \u2014 no JWT required.** Called when JWT validation fails for a known user. Triggers failed-login alert detection.",
        "security": [],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Failure event recorded"
          }
        }
      }
    },
    "/audit/alerts": {
      "get": {
        "summary": "List audit alerts",
        "operationId": "listAlerts",
        "tags": [
          "Audit Alerts"
        ],
        "description": "Returns all alerts or unacknowledged-only when `unacknowledgedOnly=true`. Ordered newest first.",
        "parameters": [
          {
            "name": "unacknowledgedOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated alert list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditAlertResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/audit/alerts/{id}/acknowledge": {
      "post": {
        "summary": "Acknowledge an alert",
        "operationId": "acknowledgeAlert",
        "tags": [
          "Audit Alerts"
        ],
        "description": "Marks the alert as acknowledged. The acknowledging user is recorded.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Alert acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditAlertResponse"
                }
              }
            }
          },
          "404": {
            "description": "Alert not found"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/setup/audit-config": {
      "get": {
        "summary": "Get audit alert configuration",
        "operationId": "getAuditConfig",
        "tags": [
          "Audit Configuration"
        ],
        "description": "Returns the current alert thresholds and retention policy for this tenant. Requires AUDIT_VIEW or SETUP_UPDATE.",
        "responses": {
          "200": {
            "description": "Current config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditAlertConfigResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "put": {
        "summary": "Update audit alert configuration",
        "operationId": "updateAuditConfig",
        "tags": [
          "Audit Configuration"
        ],
        "description": "Updates alert thresholds and retention period. **Requires SETUP_UPDATE role (System Admin only).**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditAlertConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Config updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditAlertConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "Forbidden \u2014 requires SETUP_UPDATE"
          }
        }
      }
    },
    "/audit/export": {
      "get": {
        "summary": "Export audit logs as CSV",
        "operationId": "exportAuditCsv",
        "tags": [
          "Audit Export"
        ],
        "description": "Streams a CSV file containing audit log entries matching the supplied filters. All filters are optional.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file stream",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Insufficient role"
          }
        }
      }
    },
    "/audit/reports/actions-by-user": {
      "get": {
        "summary": "Report 1 \u2014 Actions by user",
        "operationId": "reportActionsByUser",
        "tags": [
          "Audit Reports"
        ],
        "description": "All audit events performed by a specific user in a date range.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit events for user"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/actions-by-module": {
      "get": {
        "summary": "Report 2 \u2014 Actions by module",
        "operationId": "reportActionsByModule",
        "tags": [
          "Audit Reports"
        ],
        "description": "All audit events for a specific entity type (module) in a date range.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Policy"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated audit events for module"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/approvals": {
      "get": {
        "summary": "Report 3 \u2014 Approval audit trail",
        "operationId": "reportApprovals",
        "tags": [
          "Audit Reports"
        ],
        "description": "All APPROVE and REJECT events across every module in a date range.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated approval events"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/data-changes": {
      "get": {
        "summary": "Report 4 \u2014 Data change history",
        "operationId": "reportDataChanges",
        "tags": [
          "Audit Reports"
        ],
        "description": "Full before/after change history for a specific entity. Returns old_value and new_value JSONB snapshots.",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated change events with before/after snapshots"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/login-security": {
      "get": {
        "summary": "Report 5 \u2014 Login & security events",
        "operationId": "reportLoginSecurity",
        "tags": [
          "Audit Reports"
        ],
        "description": "Login, logout, and failed authentication events in a date range.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated login events"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/audit/reports/user-activity": {
      "get": {
        "summary": "Report 6 \u2014 User activity summary",
        "operationId": "reportUserActivity",
        "tags": [
          "Audit Reports"
        ],
        "description": "Ranked list of all users by total action count in a date range.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked user activity list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserActivitySummary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/dashboard/stats": {
      "get": {
        "summary": "Dashboard KPI statistics",
        "operationId": "getDashboardStats",
        "tags": [
          "Dashboard"
        ],
        "description": "Returns 8 aggregated KPIs for the back-office home screen: active policies, open claims, pending approvals, premiums MTD, claims reserve total, renewals due in 30 days, outstanding premium, and RI utilisation %.",
        "responses": {
          "200": {
            "description": "8 KPI stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DashboardStats"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or expired JWT"
          }
        }
      }
    },
    "/dashboard/approval-queue": {
      "get": {
        "summary": "Pending approval counts by entity type",
        "operationId": "getDashboardApprovalQueue",
        "tags": [
          "Dashboard"
        ],
        "description": "Returns the count of items in PENDING_APPROVAL status for each entity type across all modules.",
        "responses": {
          "200": {
            "description": "Pending approval counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApprovalQueue"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or expired JWT"
          }
        }
      }
    },
    "/dashboard/loss-ratio": {
      "get": {
        "summary": "Loss ratio trend \u2014 last 6 months",
        "operationId": "getDashboardLossRatio",
        "tags": [
          "Dashboard"
        ],
        "description": "Returns monthly premium written and claims incurred for the last 6 months, plus a computed loss ratio percentage per month. Used for the dashboard sparkline chart.",
        "responses": {
          "200": {
            "description": "6-month loss ratio trend",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LossRatioMonth"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or expired JWT"
          }
        }
      }
    },
    "/dashboard/renewals-due": {
      "get": {
        "summary": "Policies expiring in the next 7 days",
        "operationId": "getDashboardRenewalsDue",
        "tags": [
          "Dashboard"
        ],
        "description": "Returns one entry per day for the next 7 days, each with the count of ACTIVE policies whose end date falls on that day. Always returns exactly 7 entries; days with no renewals have count = 0.",
        "responses": {
          "200": {
            "description": "7-day renewals due strip",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RenewalDay"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or expired JWT"
          }
        }
      }
    },
    "/dashboard/recent-activity": {
      "get": {
        "summary": "Last 10 audit log entries across all modules",
        "operationId": "getDashboardRecentActivity",
        "tags": [
          "Dashboard"
        ],
        "description": "Returns the 10 most recent audit log entries from the system-wide audit trail, ordered by timestamp descending. Used for the Recent Activity feed on the dashboard.",
        "responses": {
          "200": {
            "description": "Last 10 audit log entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecentActivity"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or expired JWT"
          }
        }
      }
    },
    "/dashboard/search": {
      "get": {
        "summary": "Global search across policies, claims, customers, and quotes",
        "operationId": "globalSearch",
        "tags": [
          "Dashboard"
        ],
        "description": "Case-insensitive ILIKE search across policies (by policy_number), claims (by claim_number), customers (by name), and quotes (by quote_number). Returns up to 5 results per entity type, capped at 20 total. Minimum query length is 2 characters.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search term (minimum 2 characters)",
            "schema": {
              "type": "string",
              "minLength": 2,
              "example": "POL-2026"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or expired JWT"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "operationId": "listCustomers",
        "tags": [
          "Customers"
        ],
        "description": "Returns a paginated list of all customers. Filterable by type (INDIVIDUAL/CORPORATE) and KYC status.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "INDIVIDUAL",
                "CORPORATE"
              ]
            }
          },
          {
            "name": "kycStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "IN_PROGRESS",
                "PASSED",
                "FAILED"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated customer list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/customers/search": {
      "get": {
        "summary": "Search customers by name, email, or phone",
        "operationId": "searchCustomers",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching customers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/customers/individual": {
      "post": {
        "summary": "Onboard an individual customer",
        "operationId": "createIndividualCustomer",
        "tags": [
          "Customers"
        ],
        "description": "Creates an individual customer record and triggers KYC verification. Accepts `multipart/form-data`. The `idDocument` file must be JPG or PNG, max 5 MB. `idExpiryDate` is **required and must not be expired** when `idType` is `DRIVERS_LICENSE` or `PASSPORT`.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "phone",
                  "dateOfBirth",
                  "idType",
                  "idNumber",
                  "address",
                  "idDocument"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "format": "date"
                  },
                  "idType": {
                    "type": "string",
                    "enum": [
                      "NIN",
                      "VOTERS_CARD",
                      "DRIVERS_LICENSE",
                      "PASSPORT"
                    ]
                  },
                  "idNumber": {
                    "type": "string"
                  },
                  "idExpiryDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Required for DRIVERS_LICENSE and PASSPORT. Must be \u2265 today."
                  },
                  "address": {
                    "type": "string"
                  },
                  "occupation": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "default": "Nigeria"
                  },
                  "brokerId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "idDocument": {
                    "type": "string",
                    "format": "binary",
                    "description": "JPG or PNG, max 5 MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created and KYC triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error \u2014 e.g. expired ID document"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/corporate": {
      "post": {
        "summary": "Onboard a corporate customer",
        "operationId": "createCorporateCustomer",
        "tags": [
          "Customers"
        ],
        "description": "Creates a corporate customer record and triggers KYC (RC number verification + director ID checks). Accepts `multipart/form-data`. `cacCertificate` must be JPG or PNG, max 5 MB. `cacIssuedDate` is required. Each director's `idDocument` (indexed as `directorIdDocuments`) must be provided. Director `idExpiryDate[i]` is required and must not be expired for DRIVERS_LICENSE/PASSPORT.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "companyName",
                  "rcNumber",
                  "cacIssuedDate",
                  "email",
                  "phone",
                  "address",
                  "cacCertificate"
                ],
                "properties": {
                  "companyName": {
                    "type": "string"
                  },
                  "rcNumber": {
                    "type": "string"
                  },
                  "cacIssuedDate": {
                    "type": "string",
                    "format": "date",
                    "description": "CAC certificate issued date (required)"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "default": "Nigeria"
                  },
                  "brokerId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "directors[0].fullName": {
                    "type": "string",
                    "description": "Repeat for each director with indexed fields"
                  },
                  "directors[0].idType": {
                    "type": "string",
                    "enum": [
                      "NIN",
                      "VOTERS_CARD",
                      "DRIVERS_LICENSE",
                      "PASSPORT"
                    ]
                  },
                  "directors[0].idNumber": {
                    "type": "string"
                  },
                  "directors[0].idExpiryDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Required for DRIVERS_LICENSE/PASSPORT. Must be \u2265 today."
                  },
                  "cacCertificate": {
                    "type": "string",
                    "format": "binary",
                    "description": "CAC certificate \u2014 JPG or PNG, max 5 MB"
                  },
                  "directorIdDocuments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "One file per director in the same order as directors[]. JPG or PNG, max 5 MB each"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Company created and KYC triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error \u2014 e.g. expired director ID"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Get customer by ID",
        "operationId": "getCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      },
      "put": {
        "summary": "Update customer contact details, KYC, and directors",
        "operationId": "updateCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "contactPerson": {
                    "type": "string",
                    "description": "Corporate customers only"
                  },
                  "brokerId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "idType": {
                    "type": "string",
                    "enum": [
                      "NIN",
                      "VOTERS_CARD",
                      "DRIVERS_LICENSE",
                      "PASSPORT"
                    ],
                    "description": "Individual customers only"
                  },
                  "idNumber": {
                    "type": "string",
                    "description": "Individual customers only"
                  },
                  "idExpiryDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Required for DRIVERS_LICENSE and PASSPORT"
                  },
                  "idDocument": {
                    "type": "string",
                    "format": "binary",
                    "description": "Replacement KYC document (JPG/PNG, max 5 MB)"
                  },
                  "kycUpdateReason": {
                    "type": "string",
                    "description": "Required when any KYC field changes"
                  },
                  "kycUpdateNotes": {
                    "type": "string",
                    "description": "Required when kycUpdateReason = Other"
                  },
                  "directors[N].id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Corporate: existing director ID (omit for new)"
                  },
                  "directors[N].deleted": {
                    "type": "boolean",
                    "description": "Soft-delete this director"
                  },
                  "directors[N].firstName": {
                    "type": "string"
                  },
                  "directors[N].lastName": {
                    "type": "string"
                  },
                  "directors[N].dateOfBirth": {
                    "type": "string",
                    "format": "date"
                  },
                  "directors[N].idType": {
                    "type": "string"
                  },
                  "directors[N].idNumber": {
                    "type": "string"
                  },
                  "directors[N].idExpiryDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "directors[N].kycUpdateReason": {
                    "type": "string",
                    "description": "Required when director KYC fields change"
                  },
                  "directors[N].kycUpdateNotes": {
                    "type": "string"
                  },
                  "directorDoc_N": {
                    "type": "string",
                    "format": "binary",
                    "description": "Document for director at index N"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated customer"
          },
          "400": {
            "description": "Validation error \u2014 e.g. KYC reason missing, minimum 2 directors violated, expired ID"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 requires CUSTOMER_UPDATE role"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/customers/{id}/retrigger-kyc": {
      "post": {
        "summary": "Re-trigger KYC verification",
        "operationId": "retriggerKyc",
        "tags": [
          "Customers"
        ],
        "description": "Re-runs KYC verification for a customer whose KYC status is FAILED or PENDING. Returns 422 if KYC has already passed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "KYC re-triggered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/customers/{id}/blacklist": {
      "post": {
        "summary": "Blacklist a customer",
        "operationId": "blacklistCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      },
      "delete": {
        "summary": "Remove blacklist status",
        "operationId": "unblacklistCustomer",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer unblacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CustomerDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/reports/definitions": {
      "get": {
        "summary": "List all accessible report definitions",
        "operationId": "listReportDefinitions",
        "tags": [
          "Reports"
        ],
        "description": "Returns all active report definitions the caller can view. Filter by category to narrow results. Reports the caller cannot view are invisible (not returned with an access-denied flag).",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "UNDERWRITING",
                "CLAIMS",
                "FINANCE",
                "REINSURANCE",
                "CUSTOMER",
                "REGULATORY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of report definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReportDefinition"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      },
      "post": {
        "summary": "Create a custom report definition",
        "operationId": "createReportDefinition",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "category",
                  "dataSource",
                  "config"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "dataSource": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom report created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReportDefinition"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/definitions/{id}": {
      "get": {
        "summary": "Get a single report definition",
        "operationId": "getReportDefinition",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReportDefinition"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      },
      "put": {
        "summary": "Update a custom report definition",
        "operationId": "updateReportDefinition",
        "tags": [
          "Reports"
        ],
        "description": "Only CUSTOM reports can be updated. SYSTEM reports are immutable \u2014 clone them first.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated report definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReportDefinition"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      },
      "delete": {
        "summary": "Delete a custom report definition",
        "operationId": "deleteReportDefinition",
        "tags": [
          "Reports"
        ],
        "description": "Only CUSTOM reports can be deleted. SYSTEM reports cannot be deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/definitions/{id}/clone": {
      "post": {
        "summary": "Clone a SYSTEM report into a CUSTOM report",
        "operationId": "cloneReportDefinition",
        "tags": [
          "Reports"
        ],
        "description": "Creates a new CUSTOM report pre-populated with the source report's config. The user can then edit and save it.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name for the cloned report (defaults to source name + ' (Copy)')"
          }
        ],
        "responses": {
          "201": {
            "description": "Cloned report definition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReportDefinition"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/run": {
      "post": {
        "summary": "Run a report \u2014 returns JSON result",
        "operationId": "runReport",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reportId"
                ],
                "properties": {
                  "reportId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "filters": {
                    "type": "object",
                    "description": "Key-value map of filter values matching the report's config.filters"
                  },
                  "format": {
                    "type": "string",
                    "enum": [
                      "JSON",
                      "CSV",
                      "PDF"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Report result with columns, rows, and totalRows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReportResult"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/reports/run/csv": {
      "post": {
        "summary": "Run a report \u2014 streams CSV download",
        "operationId": "runReportCsv",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reportId"
                ],
                "properties": {
                  "reportId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "filters": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV file download",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/run/pdf": {
      "post": {
        "summary": "Run a report \u2014 returns PDF download",
        "operationId": "runReportPdf",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reportId"
                ],
                "properties": {
                  "reportId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "filters": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF file download",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/pins": {
      "get": {
        "summary": "List pinned reports for the current user",
        "operationId": "listPinnedReports",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Pinned report definitions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReportDefinition"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/reports/pins/{id}": {
      "post": {
        "summary": "Pin a report to the home page",
        "operationId": "pinReport",
        "tags": [
          "Reports"
        ],
        "description": "Pins are per-user. Regulatory reports (REGULATORY category) cannot be pinned.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "summary": "Unpin a report",
        "operationId": "unpinReport",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/reports/access-policies": {
      "get": {
        "summary": "List report access policies for an access group",
        "operationId": "listReportAccessPolicies",
        "tags": [
          "Reports"
        ],
        "description": "System Admin only (`reports:manage_access`). Returns all category-level and report-level access policies for the specified group.",
        "parameters": [
          {
            "name": "accessGroupId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access policies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ReportAccessPolicy"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      },
      "put": {
        "summary": "Upsert a category-level or report-level access policy",
        "operationId": "upsertReportAccessPolicy",
        "tags": [
          "Reports"
        ],
        "description": "Resolution order: report-level policy wins over category-level. A user with no matching policy cannot see the report at all.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accessGroupId"
                ],
                "properties": {
                  "accessGroupId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "category": {
                    "type": "string",
                    "nullable": true
                  },
                  "reportId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "canView": {
                    "type": "boolean"
                  },
                  "canExportCsv": {
                    "type": "boolean"
                  },
                  "canExportPdf": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved access policy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ReportAccessPolicy"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 insufficient role"
          }
        }
      }
    },
    "/claims/search": {
      "get": {
        "summary": "Search claims",
        "operationId": "searchClaims",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching claims",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClaimSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/claims/{id}": {
      "get": {
        "summary": "Get claim",
        "operationId": "getClaim",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claim detail",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "put": {
        "summary": "Update claim",
        "operationId": "updateClaim",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated claim",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ClaimSummary"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/claims/{id}/assign-surveyor": {
      "post": {
        "summary": "Assign surveyor to claim",
        "operationId": "assignSurveyor",
        "tags": [
          "Claims"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
[...]
